extends layouts/base

block content
  .Banner.Banner-about(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            span.Breadcrumbs_text About us
      .Banner_textWrapper
        h1.Banner_title Zager Guitar is a premier family owned guitar builder based in the USA. It was established in 1969 by Denny Zager
  .ContactsSection
    .Container
      .ContactsSection_wrapper
        h2.SectionTitle.ContactsSection_title About us
        .ContactsSection_text
          p Zager Guitar is a premier family-owned guitar builder based in the USA. It was established in 1969 by Denny Zager, a former musician that sold over 20M records worldwide with the song “In The Year 2525". By performing every night, he realised that his fingers couldn't take it anymore. So he started to make adjustments on his guitar until he launched his own ‘Easy Play’ line.
        .ContactInfo.ContactsSection_info
          h4.ContactInfo_location Zager Guitars Lincoln, Nebraska
          ul.ContactInfo_list
            li.ContactInfo_item Call or Text #[a(href="tel:+4027707747") (402) 770-7747]
            li.ContactInfo_item #[a(href="mailto:help@zager.com") help@zager.com]
            li.ContactInfo_item
              a(href="#").ContactInfo_link Live Chat
        .ContactsSection_formWrapper
          form.ContactForm.ContactsSection_form
            h3.ContactForm_title Contact us
            .ContactForm_items
              .ContactForm_item
                input(type="text" name="name" placeholder="Name").FormText.FormText-lightBeigeBg.FormText-contactForm
              .ContactForm_item
                input(type="email" name="email" placeholder="Email address").FormText.FormText-lightBeigeBg.FormText-contactForm
              .ContactForm_item
                textarea(name="message" placeholder="Message").FormTextarea.FormTextarea-lightBeigeBg.FormText-contactForm
            .ContactForm_actions
              button(type="submit").BtnYellow.BtnYellow-email.BtnYellow-contactForm.ContactForm_btn Send email
  .TextSection.TextSection-reverse.TextSection-article
    .Container
      .TextSection_wrapper
        h2.SectionTitle.SectionTitle-mediumDesktop.TextSection_title Our Story
        .TextSection_imgWrapper
          img(src="img/our_story_img.webp", alt="").TextSection_img
          a(href="img/our_story_img.webp" data-fancybox).BtnYellow.BtnYellow-video.TextSection_mediaBtn play 2525
        .TextSection_text
          p Denny Zager is part of the legendary recording duo “Zager & Evans” who wrote “In The Year 2525," the #1 song of 1969 and the biggest one-hit wonder of any artist at any time in recording history selling over 20 million records world wide.You may have seen Denny featured in Time Magazine, Newsweek Magazine, and The New Yorker. Denny has been asked to make numerous television appearances including The Tonight Show, The Ed Sullivan Show, The Dick Cavett Show, Top Of The Pops, The Music Scene with The Beatles and The Rolling Stones, and he was also one of the few musicians asked to play at Woodstock in 1969 with Jimmy Hendrix, Santana, and The Grateful Dead.
  .TextSection.TextSection-article.TextSection-lightBeigeBg.TextSection-largePaddingDesktop
    .Container
      .TextSection_wrapper
        h2.SectionTitle.SectionTitle-mediumDesktop.TextSection_title Dennys Story
        .TextSection_imgWrapper
          img(src="img/text_section_img_about.webp", alt="").TextSection_img
        .TextSection_text
          p Denny began playing guitar in 1949. He taught himself how to play the hard way...listening to songs on the radio and practicing hours every day. Years later he began writing his own material getting local air play and at the age of 15 had the #1 song in the 4 state area.
          p Over the next decade he put together several well known local bands...”The Devilles” and “The Eccentrics.”  When looking for a guitar player for the Eccentrics Denny discovered Rick Evans and soon after they formed their own duo “Zager & Evans” who produced “In The Year 2525."
          p After touring around the world Denny came back to his roots in Nebraska and focused on his one true passion...the guitar. If you know the music industry you've probably noticed that some people are in the business for fame and fortune while others are there for the love of the music.
  .TextSection.TextSection-article.TextSection-reverse
    .Container
      .TextSection_wrapper
        h2.SectionTitle.SectionTitle-smallDesktop.TextSection_title Denny simply loved playing guitar and performing was an avenue that allowed him to do it. 
        .TextSection_imgWrapper
          img(src="img/our_story_img.webp", alt="").TextSection_img
        .TextSection_text
          p Unfortunately Denny was never comfortable in the spotlight which is why he retired from performing and began doing what he loved most ...creating music and showing others how to do it.
          p In 1972 Denny began teaching his son how to play and decided there had to be a better way to learn guitar then using the old boring notes and scales routines. Denny was never able to grasp those methods because he suffered from dyslexia. (A condition in which the brain reads things out of order) He wanted to create a system that was exciting and focused around playing by ear...the same way pro musicians played.
  .InfoBlockSection
    .Container
      .InfoBlock.InfoBlock-smallFontDesktop.InfoBlock-centerDesktop.InfoBlock-largePaddingDesktop.InfoBlock-offsetHalfDown
        p #[span.Yellow Denny created a system that was unlike anything ever seen before.] Instead of tedious hours of reciting notes and scales Denny’s system focused on showing the student how to play a song right away.
  .TextSection.TextSection-article.TextSection-lightBeigeBg
    .Container
      .TextSection_wrapper
        h2.SectionTitle.SectionTitle-mediumDesktop.TextSection_title Dennys System
        .TextSection_imgWrapper
          img(src="img/our_story_img.webp", alt="").TextSection_img
        .TextSection_text
          p Denny remembered one of his most exciting moments growing up was the day he could play a really popular song that was on the radio. He would play this song for his friends and this excitement and sense of accomplishment fueled his passion for the guitar even greater.
          p Denny’s guitar system focuses on learning by ear (like pros play) but he simplified it similar to the paint by number coloring books you used as a child. The spaces labeled 1 you painted yellow, the spaces labeled 2 you painted blue, and so on, and when you finished you didn't know exactly how you did it but you had a beautiful picture that was far beyond your natural abilities.
          p Denny’s Guitar system is the same in that it can show anyone how to play guitar and sound far beyond their natural abilities in a very short period of time.
          p Students often say “The music's flowing naturally from my fingers... but | don’t know how I’m doing it!” Denny‘s guitar system taps into that part of our brain that scientists say we gain all our power from but rarely use.
  .InfoBlockSection
    .Container
      .InfoBlock.InfoBlock-smallFontDesktop.InfoBlock-centerDesktop.InfoBlock-largePaddingDesktop.InfoBlock-offsetHalfUp
        p #[span.Yellow From 1972 to 2000 (almost 3 decades)] Denny taught thousands of people how to play using his revolutionary guitar method, constantly tweaking his system making it easier to use. If you were a resident of Nebraska or the tri state area and played guitar during that time there was a very high likelihood that you learned to play using the Zager Guitar method.
  .SeriesSection
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-seriesSection.SeriesSection_title Why are more pro guitarists choosing Zager hand #[br]made guitars over Martin, Taylor, Fender and Gibson?
      .SeriesSection_items
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Top of the line
          h3.SeriesBlock_title ZAD 900 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Professional
          h3.SeriesBlock_title ZAD 80 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Western Caedar Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label #[span.hidden-xs Original] hand made
          h3.SeriesBlock_title ZAD 50 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Solid wood
          h3.SeriesBlock_title ZAD 20 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
      ul.SeriesSection_buttons
        li.SeriesSection_btnItem
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn.hidden-smPlus Shop all guitars
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn.hidden-xs Shop all guitars
        li.SeriesSection_btnItem
          a(href="#").BtnOutline.BtnOutline-more.BtnOutline-darkText.BtnOutline-seriesSection.SeriesSection_btn compare guitars
  .NewsLetter(style="background-image: url('img/bg_newsletter.webp')")
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.SectionTitle-center.NewsLetter_title Join the news letter to get #[span.Yellow 5% OFF]
      form.SubscribeForm.NewsLetter_form
        input(type="email" name="email" placeholder="Email address").FormText.SubscribeForm_textInput
        button(type="submit").BtnYellow.BtnYellow-email.SubscribeForm_submitBtn Join
      .IconsAndTexts.NewsLetter_iconsAndTexts
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness. 
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free.

block page_bottom
  script(src="/js/about.js")