extends layouts/base

block content
  .Banner.Banner-compare(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            a(href="/guitars.html").Breadcrumbs_link Guitars
          li.Breadcrumbs_item
            span.Breadcrumbs_text Compare models
      .Banner_textWrapper
        h1.Banner_title Class aptent taciti sociosqu ad
        a(href="#").BtnYellow.BtnYellow-video.Banner_btn Watch the video
  .SeriesSection.SeriesSection-compareModels
    .Container
      .SeriesSection_wrapper
        .SeriesSwiper.SeriesSection_swiper.swiper-container.hidden-mdPlus
          .swiper-wrapper
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 900 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#ComparisonTableZad900").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 80 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#ComparisonTableZad80").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 50 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#ComparisonTableZad50").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 20 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 20").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#ComparisonTableZad20").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
        .SeriesSection_items.hidden-smMinus
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Top of the line
            h3.SeriesBlock_title ZAD 900 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
              .SeriesBlock_price from $1995.00
              a(href="#ComparisonTableAll").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Professional
            h3.SeriesBlock_title ZAD 80 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#ComparisonTableAll").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Original hand made
            h3.SeriesBlock_title ZAD 50 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#ComparisonTableAll").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Solid wood
            h3.SeriesBlock_title ZAD 20 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 20").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#ComparisonTableAll").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
      .InfoLine.InfoLine-discount.InfoLine-halfOverlapBottom.InfoLine-alignIconTop.InfoLine-seriesSection.SeriesSection_infoLine
        p We're proud to be the only guitar company with a true #[span.Yellow 100% money back guarantee] that includes all shipping fees #[span.Yellow both ways]
  .SeriesTabsSection
    .Container
      .SeriesTabsSection_wrapper
        .Tabs.Tabs-seriesStyle.hidden-mdPlus
          ul.Tabs_list
            li.Tabs_item.Tabs_item-active 900 #[br]Series
            li.Tabs_item 80 #[br]Series
            li.Tabs_item 50 #[br]Series
            li.Tabs_item 20 #[br]Series
          .Tabs_container
            .Tabs_content.Tabs_content-active
              .Tabs_seriesImgWrapper
                img(src="img/series_img.webp", alt="").Tabs_seriesImg
              .ExpandTables#ComparisonTableZad900
                .ExpandTable.ExpandTable-description.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th.ExpandTable_th-borderTop
                          a(href="#").SwitchLink.ExpandTable_switchLink Sound
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data
                          p Our flagship combination of Rosewood, choice Spruce and curly maple binding provides a bright high ends and tight, punchy low end response with incredible projection. We've included a hand
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Woods
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Sound board
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Sound board
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back & sides
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back & sides
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogany
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Features
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Binding
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Binding
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Hand Bent Figured Maple
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Bracing
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Bracing
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Custom
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Tuning machines
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Tuning machines
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Genuine Grover (gold)
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Rosette inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Rosette inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Face inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Face inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Fret markers
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Fret markers
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Pearl Cross Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Figured Maple Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogony Inlay Stripe
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Nut
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Nut
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Bone hand carved
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Saddle
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Saddle
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Tusq Hand Carved Saddle
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Frets
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Frets
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p EZ-play
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Finish
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Finish
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Light, Elastic High Gloss
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Strings
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Strings
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Zager Soft touch
            .Tabs_content
              .Tabs_seriesImgWrapper
                img(src="img/series_img.webp", alt="").Tabs_seriesImg
              .ExpandTables#ComparisonTableZad80
                .ExpandTable.ExpandTable-description.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th
                          a(href="#").SwitchLink.ExpandTable_switchLink Sound
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data
                          p With the ZAD 80 we pair the deep rich bass of Rosewood, the mellow sweet response of Cedar anda custom bracing system to create a uniquley beatuiful voice. The bracing system provides flex in the face for even better playability,
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Woods
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Sound board
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Sound board
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back & sides
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back & sides
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogany
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Features
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Binding
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Binding
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Hand Bent Figured Maple
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Bracing
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Bracing
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Custom
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Tuning machines
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Tuning machines
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Genuine Grover (gold)
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Rosette inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Rosette inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Face inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Face inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Fret markers
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Fret markers
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Pearl Cross Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Figured Maple Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogony Inlay Stripe
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Nut
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Nut
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Bone hand carved
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Saddle
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Saddle
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Tusq Hand Carved Saddle
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Frets
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Frets
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p EZ-play
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Finish
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Finish
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Light, Elastic High Gloss
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Strings
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Strings
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Zager Soft touch
            .Tabs_content
              .Tabs_seriesImgWrapper
                img(src="img/series_img.webp", alt="").Tabs_seriesImg
              .ExpandTables#ComparisonTableZad50
                .ExpandTable.ExpandTable-description.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th
                          a(href="#").SwitchLink.ExpandTable_switchLink Sound
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data
                          p A more complex scalloped bracing system is used in our ZAD 50 guitars which provides more soundboard plyability while enriches and deepens the tone over the ZAD 20
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Woods
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Sound board
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Sound board
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back & sides
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back & sides
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogany
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Features
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Binding
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Binding
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Hand Bent Figured Maple
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Bracing
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Bracing
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Custom
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Tuning machines
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Tuning machines
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Genuine Grover (gold)
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Rosette inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Rosette inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Face inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Face inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Fret markers
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Fret markers
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Pearl Cross Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Figured Maple Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogony Inlay Stripe
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Nut
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Nut
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Bone hand carved
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Saddle
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Saddle
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Tusq Hand Carved Saddle
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Frets
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Frets
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p EZ-play
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Finish
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Finish
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Light, Elastic High Gloss
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Strings
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Strings
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Zager Soft touch
            .Tabs_content
              .Tabs_seriesImgWrapper
                img(src="img/series_img.webp", alt="").Tabs_seriesImg
              .ExpandTables#ComparisonTableZad20
                .ExpandTable.ExpandTable-description.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th
                          a(href="#").SwitchLink.ExpandTable_switchLink Sound
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data
                          p An affordable solid torrified African mahogany guitar. with a Sitka spruce soundboard making  for a beautiful bright, focused tone without, sounding thin.
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Woods
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Sound board
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Sound board
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back & sides
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back & sides
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogany
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Indian Rosewood
                .ExpandTable.ExpandTable-expanded
                  table.ExpandTable_table
                    thead.ExpandTable_head
                      tr.ExpandTable_row
                        th.ExpandTable_th(colspan="2")
                          a(href="#").SwitchLink.ExpandTable_switchLink Features
                    tbody.ExpandTable_body
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Binding
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Binding
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Hand Bent Figured Maple
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Bracing
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Bracing
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Custom
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Tuning machines
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Tuning machines
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Genuine Grover (gold)
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Headstock
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Headstock
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Grade A Sitka Spruce
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Rosette inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Rosette inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Face inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Face inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Abalone inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Fret markers
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Fret markers
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Pearl Cross Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Back Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Back Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Figured Maple Inlay
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Neck Inlay
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Neck Inlay
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Mahogony Inlay Stripe
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Nut
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Nut
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Bone hand carved
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Saddle
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Saddle
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Tusq Hand Carved Saddle
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Frets
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Frets
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p EZ-play
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Finish
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Finish
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Light, Elastic High Gloss
                      tr.ExpandTable_row
                        td.ExpandTable_data.ExpandTable_data-label
                          .ExpandTable_labelWrapper
                            .ExpandTable_label Strings
                            .Hint.Hint-expandTable
                              a(href="#").Hint_icon
                              .Hint_wrapper
                                h5.Hint_title Strings
                                .Hint_text
                                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                        td.ExpandTable_data.ExpandTable_data-value
                          p Zager Soft touch
        .ExpandTables#ComparisonTableAll.hidden-smMinus
          .ExpandTable.ExpandTable-titles
            table.ExpandTable_table
              tbody.ExpandTable_body
                tr.ExpandTable_row
                  td.ExpandTable_data
                  td.ExpandTable_data
                    .ExpandTable_colTitle 900 Series
                  td.ExpandTable_data
                    .ExpandTable_colTitle 80 Series
                  td.ExpandTable_data
                    .ExpandTable_colTitle 50 Series
                  td.ExpandTable_data
                    .ExpandTable_colTitle 20 Series
          .ExpandTable.ExpandTable-description.ExpandTable-expanded
            table.ExpandTable_table
              thead.ExpandTable_head
                tr.ExpandTable_row
                  th(colspan="5").ExpandTable_th
                    a(href="#").SwitchLink.ExpandTable_switchLink Sound
              tbody.ExpandTable_body
                tr.ExpandTable_row
                  td.ExpandTable_data
                  td.ExpandTable_data
                    p Our flagship combination of Rosewood, choice Spruce and curly maple binding provides a bright high ends and tight, punchy low end response with incredible projection. We've included a hand
                  td.ExpandTable_data
                    p With the ZAD 80 we pair the deep rich bass of Rosewood, the mellow sweet response of Cedar anda custom bracing system to create a uniquley beatuiful voice. The bracing system provides flex in the face for even better playability,
                  td.ExpandTable_data
                    p A more complex scalloped bracing system is used in our ZAD 50 guitars which provides more soundboard plyability while enriches and deepens the tone over the ZAD 20
                  td.ExpandTable_data
                    p An affordable solid torrified African mahogany guitar. with a Sitka spruce soundboard making  for a beautiful bright, focused tone without, sounding thin.
          .ExpandTable.ExpandTable-expanded
            table.ExpandTable_table
              thead.ExpandTable_head
                tr.ExpandTable_row
                  th.ExpandTable_th(colspan="5")
                    a(href="#").SwitchLink.ExpandTable_switchLink Woods
              tbody.ExpandTable_body
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Sound board
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Sound board
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Grade A Sitka Spruce
                  td.ExpandTable_data.ExpandTable_data-value
                    p Western Red Cedar
                  td.ExpandTable_data.ExpandTable_data-value
                    p Sitka Spruce
                  td.ExpandTable_data.ExpandTable_data-value
                    p Sitka Spruce
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Back & sides
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Back & sides
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Indian Rosewood
                  td.ExpandTable_data.ExpandTable_data-value
                    p Indian Rosewood
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Neck
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Neck
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Headstock
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Headstock
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Indian Rosewood
                  td.ExpandTable_data.ExpandTable_data-value
                    p Indian Rosewood
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogany
          .ExpandTable.ExpandTable-expanded
            table.ExpandTable_table
              thead.ExpandTable_head
                tr.ExpandTable_row
                  th.ExpandTable_th(colspan="5")
                    a(href="#").SwitchLink.SwitchLink-featuresTable.ExpandTable_switchLink Features
              tbody.ExpandTable_body
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Binding
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Binding
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Hand Bent Figured Maple
                  td.ExpandTable_data.ExpandTable_data-value
                    p ?
                  td.ExpandTable_data.ExpandTable_data-value
                    p ?
                  td.ExpandTable_data.ExpandTable_data-value
                    p ?
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Bracing
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Bracing
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Custom
                  td.ExpandTable_data.ExpandTable_data-value
                    p Custom
                  td.ExpandTable_data.ExpandTable_data-value
                    p Custom
                  td.ExpandTable_data.ExpandTable_data-value
                    p Custom
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Tuning machines
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Tuning machines
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Genuine Grover (gold)
                  td.ExpandTable_data.ExpandTable_data-value
                    p Genuine Grover (gold)
                  td.ExpandTable_data.ExpandTable_data-value
                    p Genuine Grover (silver)
                  td.ExpandTable_data.ExpandTable_data-value
                    p Genuine Grover (silver)
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Headstock
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Headstock
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Grade A Sitka Spruce
                  td.ExpandTable_data.ExpandTable_data-value
                    p Western Red Cedar
                  td.ExpandTable_data.ExpandTable_data-value
                    p  Sitka Spruce
                  td.ExpandTable_data.ExpandTable_data-value
                    p  Sitka Spruce
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Rosette inlay
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Rosette inlay
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Abalone inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p Abalone inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p ?
                  td.ExpandTable_data.ExpandTable_data-value
                    p Abalone inlay
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Face inlay
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Face inlay
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Abalone inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p Abalone inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Fret markers
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Fret markers
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Pearl Cross Inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p Pearl Cross Inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p Pearl Dot Inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p Pearl Dot Inlay
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Back Inlay
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Back Inlay
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Figured Maple Inlay
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                  td.ExpandTable_data.ExpandTable_data-value
                    p Ziger stripe
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Neck Inlay
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Neck Inlay
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogony Inlay Stripe
                  td.ExpandTable_data.ExpandTable_data-value
                    p Mahogony Inlay Stripe
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                  td.ExpandTable_data.ExpandTable_data-value
                    p -
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Nut
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Nut
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Bone hand carved
                  td.ExpandTable_data.ExpandTable_data-value
                    p Bone hand carved
                  td.ExpandTable_data.ExpandTable_data-value
                    p Bone hand carved
                  td.ExpandTable_data.ExpandTable_data-value
                    p Bone hand carved
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Saddle
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Saddle
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Tusq Hand Carved Saddle
                  td.ExpandTable_data.ExpandTable_data-value
                    p Tusq Hand Carved Saddle
                  td.ExpandTable_data.ExpandTable_data-value
                    p Tusq Hand Carved Saddle
                  td.ExpandTable_data.ExpandTable_data-value
                    p Tusq Hand Carved Saddle
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Frets
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Frets
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p EZ-play
                  td.ExpandTable_data.ExpandTable_data-value
                    p EZ-play
                  td.ExpandTable_data.ExpandTable_data-value
                    p EZ-play
                  td.ExpandTable_data.ExpandTable_data-value
                    p EZ-play
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Finish
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Finish
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Light, Elastic High Gloss
                  td.ExpandTable_data.ExpandTable_data-value
                    p Light, Elastic High Gloss
                  td.ExpandTable_data.ExpandTable_data-value
                    p Light, Elastic High Gloss
                  td.ExpandTable_data.ExpandTable_data-value
                    p Light, Elastic High Gloss
                tr.ExpandTable_row
                  td.ExpandTable_data.ExpandTable_data-label
                    .ExpandTable_labelWrapper
                      .ExpandTable_label Strings
                      .Hint.Hint-expandTable
                        a(href="#").Hint_icon
                        .Hint_wrapper
                          h5.Hint_title Strings
                          .Hint_text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac enim erat. Etiam quis malesuada leo. Sed dapibus nisi a vehicula egestas. Ut ut dignissim eros. In hac habitasse platea dictumst.
                  td.ExpandTable_data.ExpandTable_data-value
                    p Zager Soft touch
                  td.ExpandTable_data.ExpandTable_data-value
                    p Zager Soft touch
                  td.ExpandTable_data.ExpandTable_data-value
                    p Zager Soft touch
                  td.ExpandTable_data.ExpandTable_data-value
                    p Zager Soft touch
      .InfoLine.InfoLine-discount.InfoLine-halfOverlapBottom.InfoLine-alignIconTop.InfoLine-seriesSection.SeriesSection_infoLine
        p We're proud to be the only guitar company with a true #[span.Yellow 100% money back guarantee] that includes all shipping fees #[span.Yellow both ways]
  .NewsLetter
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.SectionTitle-center.NewsLetter_title Join the news letter to get #[span.Yellow 5% OFF]
      form.SubscribeForm.NewsLetter_form
        input(type="email" name="email" placeholder="Email address").FormText.SubscribeForm_textInput
        button(type="submit").BtnYellow.BtnYellow-email.SubscribeForm_submitBtn Join
      .IconsAndTexts.NewsLetter_iconsAndTexts
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness. 
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free.
  .AccessoriesSection
    .Container
      .AccessoriesSection_wrapper
        h2.SectionTitle.AccessoriesSection_title Don’t forget your accessories
        .AccessoriesSwiper.AccessoriesSection_swiper.swiper-container
          .swiper-wrapper
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_2.webp", alt="Accessory").AccessoryCard_img
                  span.Tag.Tag-accessoryCard.AccessoryCard_tag On sale
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title Zager Professional Capo
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_3.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title Zager High Accuracy Sonic Guitar Tuner
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_1.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title 1/4 inch Amplifier Cable
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_1.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title 1/4 inch Amplifier Cable
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
        button(type="button").SwiperBtn.SwiperBtn-next.AccessoriesSection_next
        button(type="button").SwiperBtn.SwiperBtn-prev.AccessoriesSection_prev
        .SwiperControls
          .SwiperPagination.SwiperControls_pagination.hidden-xs
          a(href="/accessories.html").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.BtnOutline-more see all accessories

block page_bottom
  script(src="js/compare_models.js")