extends layouts/base

block content
  .Banner.Banner-compare(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            a(href="/guitars.html").Breadcrumbs_link Guitars
          li.Breadcrumbs_item
            span.Breadcrumbs_text Compare models
      .Banner_textWrapper
        h1.Banner_title Class aptent taciti sociosqu ad
        a(href="#").BtnYellow.BtnYellow-video.Banner_btn Watch the video
  .SeriesSection.SeriesSection-compareModels
    .Container
      .SeriesSection_wrapper
        .SeriesSwiper.SeriesSection_swiper.swiper-container.hidden-smPlus
          .swiper-wrapper
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 900 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 80 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 50 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
            .swiper-slide.SeriesSwiper_slide
              .SeriesBlock.SeriesBlock-extended
                .Label.Label-seriesBlock.SeriesBlock_label Top of the line
                h3.SeriesBlock_title ZAD 20 Series
                .SeriesBlock_imgWrapper
                  img(src="img/series.jpg", alt="ZAD 20").SeriesBlock_img
                .SeriesBlock_textWrapper
                  .SeriesBlock_description Indian rosewood & Western Caedar Guitars
                  .SeriesBlock_price from $1995.00
                  a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare
        .SeriesSection_items.hidden-xs
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Top of the line
            h3.SeriesBlock_title ZAD 900 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
              .SeriesBlock_price from $1995.00
              a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Professional
            h3.SeriesBlock_title ZAD 80 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Original hand made
            h3.SeriesBlock_title ZAD 50 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
          .SeriesBlock.SeriesBlock-extended.SeriesSection_item
            .Label.Label-seriesBlock.SeriesBlock_label Solid wood
            h3.SeriesBlock_title ZAD 20 Series
            .SeriesBlock_imgWrapper
              img(src="img/series.jpg", alt="ZAD 20").SeriesBlock_img
            .SeriesBlock_textWrapper
              .SeriesBlock_description Indian rosewood & Western Caedar Guitars
              .SeriesBlock_price from $1995.00
              a(href="#").BtnYellow.BtnYellow-seriesBlock.SeriesBlock_btn Compare Models
      .InfoLine.InfoLine-discount.InfoLine-halfOverlapBottom.InfoLine-alignIconTop.InfoLine-seriesSection.SeriesSection_infoLine
        p We're proud to be the only guitar company with a true #[span.Yellow 100% money back guarantee] that includes all shipping fees #[span.Yellow both ways]
  .NewsLetter
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.SectionTitle-center.NewsLetter_title Join the news letter to get #[span.Yellow 5% OFF]
      form.SubscribeForm.NewsLetter_form
        input(type="email" name="email" placeholder="Email address").FormText.SubscribeForm_textInput
        button(type="submit").BtnYellow.BtnYellow-email.SubscribeForm_submitBtn Join
      .IconsAndTexts.NewsLetter_iconsAndTexts
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness. 
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free.
  .AccessoriesSection
    .Container
      .AccessoriesSection_wrapper
        h2.SectionTitle.AccessoriesSection_title Don’t forget your accessories
        .AccessoriesSwiper.AccessoriesSection_swiper.swiper-container
          .swiper-wrapper
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_2.webp", alt="Accessory").AccessoryCard_img
                  span.Tag.Tag-accessoryCard.AccessoryCard_tag On sale
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title Zager Professional Capo
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_3.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title Zager High Accuracy Sonic Guitar Tuner
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_1.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title 1/4 inch Amplifier Cable
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
            .swiper-slide.AccessoriesSwiper_slide
              .AccessoryCard.AccessoryCard-swiper
                .AccessoryCard_imgWrapper
                  img(src="img/accessory_img_1.webp", alt="Accessory").AccessoryCard_img
                .AccessoryCard_textWrapper
                  h3.AccessoryCard_title 1/4 inch Amplifier Cable
                  .AccessoryCard_price $39.00
                  a(href="#").BtnYellow.BtnYellow-accessoryCard.AccessoryCard_btn.AccessoryCard_btn-addToCart Add to cart
                  a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-accessoryCard.AccessoryCard_btn.hidden-xs view details
        button(type="button").SwiperBtn.SwiperBtn-next.AccessoriesSection_next
        button(type="button").SwiperBtn.SwiperBtn-prev.AccessoriesSection_prev
        .SwiperControls
          .SwiperPagination.SwiperControls_pagination.hidden-xs
          a(href="/accessories.html").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.BtnOutline-more see all accessories

block page_bottom
  script(src="js/compare_models.js")