extends layouts/base

block content
  .Banner.Banner-foundation(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            a(href="/about.html").Breadcrumbs_link About us
          li.Breadcrumbs_item
            span.Breadcrumbs_text Zager Foundation
      .Banner_textWrapper
        h1.Banner_title Zager Foundation
  .Logos
    .Container
      h3.Logos_title As seen in
      .Logos_items
        img(src="/img/logos/abc.webp", alt="").Logos_img
        img(src="/img/logos/arthritis.webp", alt="").Logos_img
        img(src="/img/logos/cbs.webp", alt="").Logos_img
        img(src="/img/logos/cnn.webp", alt="").Logos_img
        img(src="/img/logos/ms.webp", alt="").Logos_img
        img(src="/img/logos/nbc.webp", alt="").Logos_img
        img(src="/img/logos/newsweek.webp", alt="").Logos_img
        img(src="/img/logos/time.webp", alt="").Logos_img
  .TextSection.TextSection-titleTop.TextSection-article
    .Container
      .TextSection_wrapper
        h2.SectionTitle.SectionTitle-center.SectionTitle-alignLeftXS.TextSection_title Zager Guitars is giving $1 million in guitars to children
        .TextSection_imgWrapper
          img(src="img/children.webp", alt="").TextSection_img
        .TextSection_text
          p Denny Zager found his first guitar in a trash can. With everything he learned on that one guitar he wrote the biggest one hit wonder in world recording history, and created one of the most well known guitar companies on the planet. Denny Zager now wants to give back.
          p Zager Guitars is giving $1 million in guitars to children in schools across America. To nominate a school go to our Facebook page at #[br] #[strong #[a(href="https://www.facebook.com/zagerguitars") https://www.facebook.com/zagerguitars]] and use @ to tag them in the comments and the schools that get the most likes will receive $10,000 worth of Zager Easy Play Guitars and lifetime lesson
        a(href="#").BtnYellow.TextSection_btn Nominate a school
  .BeneficiariesSection
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-alignLeftXS.BeneficiariesSection_title Latest beneficaries
      .BeneficiariesSection_swiperWrapper
        .BeneficiariesSwiper.BeneficiariesSection_swiper.swiper
          .swiper-wrapper
            .swiper-slide.BeneficiariesSwiper_slide
              .Beneficiary.Beneficiary-slider
                h3.Beneficiary_title Jones Elementary School
                .Beneficiary_nomination
                  .Beneficiary_nominationLabel Nominated by:
                  .Beneficiary_nominationValue Brenda Akins
                .Beneficiary_imgWrapper
                  img(src="img/beneficiary.webp" alt="Beneficiary").Beneficiary_img
                .Beneficiary_description
                  p Jones Elementary School would like to say a big THANK YOU to Zager Guitars for the generous gift of 18 guitars for our students! The beauty of this gift is that these guitars will be a HUGE help in getting our students exposed and learning to play the guitar at an early age, which down the road, will only help to support our high school music program which includes Guitar Techniques Level 7 all the way through Level 4! Jones Elementary would also like to thank Brenda Akins for nominating us. So thankful to get these!
                a(href="#").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.Beneficiary_btn View School
            .swiper-slide.BeneficiariesSwiper_slide
              .Beneficiary.Beneficiary-slider
                h3.Beneficiary_title Jones Elementary School
                .Beneficiary_nomination
                  .Beneficiary_nominationLabel Nominated by:
                  .Beneficiary_nominationValue Brenda Akins
                .Beneficiary_imgWrapper
                  img(src="img/beneficiary.webp" alt="Beneficiary").Beneficiary_img
                .Beneficiary_description
                  p Jones Elementary School would like to say a big THANK YOU to Zager Guitars for the generous gift of 18 guitars for our students! The beauty of this gift is that these guitars will be a HUGE help in getting our students exposed and learning to play the guitar at an early age, which down the road, will only help to support our high school music program which includes Guitar Techniques Level 7 all the way through Level 4! Jones Elementary would also like to thank Brenda Akins for nominating us. So thankful to get these!
                a(href="#").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.Beneficiary_btn View School
            .swiper-slide.BeneficiariesSwiper_slide
              .Beneficiary.Beneficiary-slider
                h3.Beneficiary_title Jones Elementary School
                .Beneficiary_nomination
                  .Beneficiary_nominationLabel Nominated by:
                  .Beneficiary_nominationValue Brenda Akins
                .Beneficiary_imgWrapper
                  img(src="img/beneficiary.webp" alt="Beneficiary").Beneficiary_img
                .Beneficiary_description
                  p Jones Elementary School would like to say a big THANK YOU to Zager Guitars for the generous gift of 18 guitars for our students! The beauty of this gift is that these guitars will be a HUGE help in getting our students exposed and learning to play the guitar at an early age, which down the road, will only help to support our high school music program which includes Guitar Techniques Level 7 all the way through Level 4! Jones Elementary would also like to thank Brenda Akins for nominating us. So thankful to get these!
                a(href="#").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.Beneficiary_btn View School
        button(type="button").SwiperBtn.SwiperBtn-next.BeneficiariesSection_next.hidden-smMinus
      .SwiperControls
        .SwiperPagination.SwiperControls_pagination.BeneficiariesSection_pagination.hidden-smMinus
        a(href="/beneficiaries.html").BtnYellow.BtnYellow-arrowRight.BtnYellow-beneficiaries see all beneficaries
  .SeriesSection.SeriesSection-smallPTDesktop.SeriesSection-foundation
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-seriesSection.SeriesSection_title Shop Our Acoustic Guitars To Play Longer, Move Faster, And Enjoy A Superior Sound Without Sore Fingers
      .SeriesSection_items
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Top of the line
          h3.SeriesBlock_title ZAD 900 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Professional
          h3.SeriesBlock_title ZAD 80 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Western Caedar Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label #[span.hidden-xs Original] hand made
          h3.SeriesBlock_title ZAD 50 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Solid wood
          h3.SeriesBlock_title ZAD 20 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
      ul.SeriesSection_buttons
        li.SeriesSection_btnItem
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn Shop all guitars
        li.SeriesSection_btnItem
          a(href="#").BtnOutline.BtnOutline-more.BtnOutline-darkText.BtnOutline-seriesSection.SeriesSection_btn compare guitars
  .NewsLetter
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.SectionTitle-center.NewsLetter_title Join the news letter to get #[span.Yellow 5% OFF]
      form.SubscribeForm.NewsLetter_form
        input(type="email" name="email" placeholder="Email address").FormText.SubscribeForm_textInput
        button(type="submit").BtnYellow.BtnYellow-email.SubscribeForm_submitBtn Join
      .IconsAndTexts.NewsLetter_iconsAndTexts
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness. 
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free.

block page_bottom
  script(src="js/foundation.js")