extends layouts/base

block content
  .Banner.Banner-guitars(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            span.Breadcrumbs_text All guitars
      .Banner_textWrapper
        h1.Banner_title Easy play guitars that will last you generations.
        .Banner_buttons
          a(href="/compare-models.html").BtnYellow.BtnYellow-video.Banner_btn Watch The Video
      .IconsAndTextsSwiper.swiper.Banner_iconsAndTextsSwiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
              h3.IconAndText_title Easier playability
              .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
              h3.IconAndText_title Lower price save 50%
              .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
              h3.IconAndText_title #1 rated components
              .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
              h3.IconAndText_title 100% money back guarantee
              .IconAndText_text including shipping both ways meaning you can try 1 risk free
    .IconsAndTexts.IconsAndTexts-highlighted.Banner_iconsAndTexts.hidden-xs
      .Container
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 900 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Top of the line
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Rosewood / Spruce Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Our flagship guitar. Mr. Zager designed what many are calling the best acoustic on the market today. We've had players put this guitar up against the best from Taylor, Martin, Gibson, Fender, Santa Cruz, Bourgeois, and we never get them back, even with our 100% money back guarantee.
          p We're sold out and back ordered on them most of the year so when you see one grab it as we only build a few annually. &nbsp;If you’re looking for your last guitar you can pass onto your children this is our #1 model.
      .ProductsSwiper.swiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
                span.Tag.Tag-productCard.ProductCard_tag Save 20%
              .ProductCard_textWrapper
                h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $2595.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 900 Professional
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title 12 String ZAD 900
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $2595.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 900 Professional
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title 12 String ZAD 900
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 80 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Professional
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Cedar / Rosewood Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Chosen by artists over 3 decades for use on stage and in studio, the Zager 80 Series is the “go to” guitar for the touring musician or veteran player wanting a professional grade lifetime instrument. Consistently rated in the top 5% of acoustics in national and international publications competing with guitars 2 and 3 times its price, yet costs 50% less since you're buying direct from the builder. If you enjoy the deep rich bass that's common in rosewood guitars, a solid cedar top takes it to the next level providing a very mellow, sweet response. Combined with legendary Zager playability and you have a guitar that will go head to head with any acoustic on the market today...regardless of price.
      .ProductsSwiper.swiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 AURA Black
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $2095.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 AURA
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 Professional
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_prices
                  .OldPrice.OldPrice-productCard from $1595
                  .Price.Price-productCard from $1276.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 AURA Black
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $2095.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 AURA
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 Professional
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_prices
                .OldPrice.OldPrice-productCard from $1595
                .Price.Price-productCard from $1276.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 50 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Professional
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Spruce / Mahogany Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Our original hand made guitar we've been building for 32 years that competes with guitars 2 times its price, the 50 Series has all the prerequisites of the traditional acoustic. Compared regularly to Martin D18 and Taylor 5 Series, but with easier playability and a lower price since you're buying direct from the builder. For 2020 Mr. Zager added a more detailed ivory zipper stripe binding and installed the new 2020 Fishman Presys Il electronics system to make this guitar truly special. Shipped direct from Denny's hands to yours. 100% money back guarantee, lifetime warranty.
      .ProductsSwiper.swiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Vintage Sunburst
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1295.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Original
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1295
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Vintage Sunburst
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1295.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Original
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Mahogany
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1295.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Products.Products-fullWidth
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-products.Products_title Other Zager Easy #[br.hidden-smPlus]Play models
      .ProductsSwiper.swiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 20 Solid Wood guitar
                .ProductCard_description.hidden-xs
                  p Affordable Solid Spruce/ Mahogany Accoustic &nbsp;Electric
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title Easy Play 38’’ Parlor
                .ProductCard_description.hidden-xs
                  p Parlor size solid African Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title Easy Play 36’’ travel
                .ProductCard_description.hidden-xs
                  p Parlor size solid African Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products_wrapper.hidden-xs
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title ZAD 20 Solid Wood guitar
            .ProductCard_description.hidden-xs
              p Affordable Solid Spruce/ Mahogany Accoustic &nbsp;Electric
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Full size
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title Easy Play 38’’ Parlor
            .ProductCard_description.hidden-xs
              p Parlor size solid African Mahogany
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title Easy Play 36’’ travel
            .ProductCard_description.hidden-xs
              p Solid African Mahogany Accoustic
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features

block page_bottom
  script(src="/js/guitars.js")