extends layouts/base

block content
  .Banner.Banner-guitars(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            span.Breadcrumbs_text All guitars
      .Banner_textWrapper
        h1.Banner_title Easy play guitars that will last you generations.
        .Banner_buttons
          a(href="/compare-models.html").BtnYellow.BtnYellow-video.Banner_btn Watch The Video
      .IconsAndTextsSwiper.swiper-container.Banner_iconsAndTextsSwiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
              h3.IconAndText_title Easier playability
              .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
              h3.IconAndText_title Lower price save 50%
              .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
              h3.IconAndText_title #1 rated components
              .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
              h3.IconAndText_title 100% money back guarantee
              .IconAndText_text including shipping both ways meaning you can try 1 risk free
    .IconsAndTexts.IconsAndTexts-highlighted.Banner_iconsAndTexts.hidden-xs
      .Container
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 900 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Top of the line
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Rosewood / Spruce Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Our flagship guitar. Mr. Zager designed what many are calling the best acoustic on the market today. We've had players put this guitar up against the best from Taylor, Martin, Gibson, Fender, Santa Cruz, Bourgeois, and we never get them back, even with our 100% money back guarantee.
          p We're sold out and back ordered on them most of the year so when you see one grab it as we only build a few annually. &nbsp;If you’re looking for your last guitar you can pass onto your children this is our #1 model.
      .ProductsSwiper.Series_productsSwiper.swiper-container.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
                span.Tag.Tag-productCard.ProductCard_tag Save 20%
              .ProductCard_textWrapper
                h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $2595.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 900 Professional
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title 12 String ZAD 900
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $2595.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 900 Professional
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title 12 String ZAD 900
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 80 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Professional
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Cedar / Rosewood Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Chosen by artists over 3 decades for use on stage and in studio, the Zager 80 Series is the “go to” guitar for the touring musician or veteran player wanting a professional grade lifetime instrument. Consistently rated in the top 5% of acoustics in national and international publications competing with guitars 2 and 3 times its price, yet costs 50% less since you're buying direct from the builder. If you enjoy the deep rich bass that's common in rosewood guitars, a solid cedar top takes it to the next level providing a very mellow, sweet response. Combined with legendary Zager playability and you have a guitar that will go head to head with any acoustic on the market today...regardless of price.
      .ProductsSwiper.Series_productsSwiper.swiper-container.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 AURA Black
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $2095.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 AURA
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 80 Professional
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_prices
                  .OldPrice.OldPrice-productCard from $1595
                  .Price.Price-productCard from $1276.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 AURA Black
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $2095.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 AURA
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 80 Professional
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_prices
                .OldPrice.OldPrice-productCard from $1595
                .Price.Price-productCard from $1276.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Series
    .Container
      .Series_wrapper
        h2.SectionTitle.SectionTitle-large.Series_title ZAD 50 SERIES
        ul.Tags.Series_tags
          li.Tags_item
            span.Label.Label-large Professional
          li.Tags_item
            span.Label.Label-large.Label-lightBeigeBg Spruce / Mahogany Guitars
        .Quote.Quote-inlineDesktop.Series_quote
          .Quote_text The Beatles would be jealous
          .Quote_author Time Magazine
        .Series_description
          p Our original hand made guitar we've been building for 32 years that competes with guitars 2 times its price, the 50 Series has all the prerequisites of the traditional acoustic. Compared regularly to Martin D18 and Taylor 5 Series, but with easier playability and a lower price since you're buying direct from the builder. For 2020 Mr. Zager added a more detailed ivory zipper stripe binding and installed the new 2020 Fishman Presys Il electronics system to make this guitar truly special. Shipped direct from Denny's hands to yours. 100% money back guarantee, lifetime warranty.
      .ProductsSwiper.Series_productsSwiper.swiper-container.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Vintage Sunburst
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1295.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Original
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
                .ProductCard_priceFrom from $995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 50 Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1295
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products.hidden-xs
        .Products_wrapper
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Vintage Sunburst
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1295.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Original
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra size
              .ProductCard_priceFrom from $995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
          .ProductCard.Products_item
            .ProductCard_imgWrapper
              img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
              span.Label.Label-productCard.ProductCard_label special edition
            .ProductCard_textWrapper
              h3.ProductCard_title ZAD 50 Mahogany
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
              .ProductCard_priceFrom from $1295.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .Products.Products-fullWidth
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-products.Products_title Other Zager Easy #[br.hidden-smPlus]Play models
      .ProductsSwiper.Series_productsSwiper.swiper-container.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title ZAD 20 Solid Wood guitar
                .ProductCard_description.hidden-xs
                  p Affordable Solid Spruce/ Mahogany Accoustic &nbsp;Electric
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Full size
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title Easy Play 38’’ Parlor
                .ProductCard_description.hidden-xs
                  p Parlor size solid African Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductsSwiper_slide
            .ProductCard
              .ProductCard_imgWrapper
                img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
                span.Label.Label-productCard.ProductCard_label special edition
              .ProductCard_textWrapper
                h3.ProductCard_title Easy Play 36’’ travel
                .ProductCard_description.hidden-xs
                  p Parlor size solid African Mahogany
                .ProductCard_tags
                  .ProductCard_tagsLabel Available in
                  ul.ProductCard_tagsList
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                    li.ProductCard_tagsItem
                      a(href="#").CategoryTag.CategoryTag-productCard Electric
                .ProductCard_priceFrom from $1995.00
                a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products_wrapper.hidden-xs
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title ZAD 20 Solid Wood guitar
            .ProductCard_description.hidden-xs
              p Affordable Solid Spruce/ Mahogany Accoustic &nbsp;Electric
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Full size
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title Easy Play 38’’ Parlor
            .ProductCard_description.hidden-xs
              p Parlor size solid African Mahogany
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-extended.Products_item
          .ProductCard_imgWrapper
            img(loading="lazy", src="img/product_block_img.webp").ProductCard_img
            span.Label.Label-productCard.ProductCard_label special edition
          .ProductCard_textWrapper
            h3.ProductCard_title Easy Play 36’’ travel
            .ProductCard_description.hidden-xs
              p Solid African Mahogany Accoustic
            .ProductCard_tags
              .ProductCard_tagsLabel Available in
              ul.ProductCard_tagsList
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                li.ProductCard_tagsItem
                  a(href="#").CategoryTag.CategoryTag-productCard Electric
            .ProductCard_priceFrom from $1995.00
            a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .TextAndVideo
    .Container
      .TextAndVideo_wrapper
        h2.SectionTitle.SectionTitle-lightBeige.TextAndVideo_title Not sure which model is for you? Watch this!
        .TextAndVideo_imgWrapper
          a(href="https://www.youtube.com/watch?v=-OhTBzpd1yo&feature=emb_title" data-fancybox)
            img(loading="lazy", src="img/video_img.webp", alt="Video").TextAndVideo_img
        a(href="/compare_models.html").BtnYellow.BtnYellow-guitar.TextAndVideo_btn Compare models
  .TextBlocks.TextBlocks-guitarsPage
    .Container
      h2.SectionTitle.SectionTitle-textBlocks.SectionTitle-center.TextBlocks_title Zager easy play guitars are the result of a unique recipe, finetuned over 50 years of testing
      .TextBlocks_description
        p After decades of playing every night, Denny needed a guitar that was easy on the fingers yet produced incredible sound so he experimented until he found the unique recipe upon which all Zager guitars are founded
      .TextBlocks_items
        .TextBlock.TextBlocks_item
          h3.TextBlock_title Lower string heights for faster movement with no buzzing
          .TextBlock_text
            p Any guitar builder can lower strings, but if that if string height is too low it destroys sound quality. &nbsp;If you look closely at Zager guitars you’ll notice low string heights on frets 1-10 where players spend the majority of their time, but action rises over the sound hole for better tone and easier picking with the right hand.
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img1.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-reverse.TextBlocks_item
          h3.TextBlock_title Custom string spacing for easier chords that ring true
          .TextBlock_text
            p Have you ever tried to form a chord and no matter how you adjusted your fingers they were leaning on adjacent strings causing buzzes and rattles? Denny solves this problem by using custom string spacing on his guitars. This 1/32 of an inch is hard to see, but when you play it you'll immediately feel chords that were hard or impossible to play are now easy and ring true
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img2.jpg", alt="").TextBlock_img
        .TextBlock.TextBlocks_item
          h3.TextBlock_title Perfect quality control and no retail costs
          .TextBlock_text
            p When you buy your guitar direct from the builder not only do you save money avoiding the middle man retail price mark up (usually about 50%), but quality control is higher because your guitar isn't being sent through dealer networks going through multiple hands in the retail stores. When you buy your guitar from Zager it goes straight from Mr. Zagers hands to you with a 100% money back guarantee
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img3.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-reverse.TextBlocks_item
          h3.TextBlock_title Lower string pressure to play longer without sore fingers
          .TextBlock_text
            p When you barely have to press to form chords it makes a world of difference. New players with no muscle in their fingers are suddenly forming chords with ease as 50% less pressure is needed to make chords ring true. Advanced players no longer have to “muscle” chords and are able to play longer sets with much greater speed and accuracy. Denny achieves this using a lighter bracing system which actually flexes in the face as you press each string
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img1.jpg", alt="").TextBlock_img
        .TextBlock.TextBlocks_item
          h3.TextBlock_title Custom neck design that feels natural for all hand size
          .TextBlock_text
            p When you buy your guitar direct from the builder not only do you save money avoiding the middle man retail price mark up (usually about 50%), but quality control is higher because your guitar isn't being sent through dealer networks going through multiple hands in the retail stores. When you buy your guitar from Zager it goes straight from Mr. Zagers hands to you with a 100% money back guarantee
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img2.jpg", alt="").TextBlock_img
  .VideoSection
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.VideoSection_title +135,000 ecstatic players joined the Zager family and never looked back
      .VideoSwiper.VideoSection_swiper.swiper-container
        .swiper-wrapper
          .swiper-slide.VideoSwiper_slide
            .VideoBlock
              a(href="https://www.youtube.com/watch?v=j--qJ6osiQY&feature=emb_title" data-fancybox="gallery").VideoBlock_videoThumb
                img(loading="lazy", src="img/video_thumbs/tomy_emmanuel.webp", alt="")
              h3.VideoBlock_title Tommy Emmanuel
              .VideoBlock_description
                p The Best Acoustic Guitarist in the World
          .swiper-slide.VideoSwiper_slide
            .VideoBlock
              a(href="https://www.youtube.com/watch?v=12QdRwyeucM&feature=emb_title" data-fancybox="gallery").VideoBlock_videoThumb
                img(loading="lazy", src="img/video_thumbs/tom_bowes.webp", alt="")
              h3.VideoBlock_title Tom Bowes
              .VideoBlock_description
                p Blood Sweat & Tears Tom Bowes
          .swiper-slide.VideoSwiper_slide
            .VideoBlock
              a(href="https://www.youtube.com/watch?v=lUf1Ufy6WD0&feature=emb_title" data-fancybox="gallery").VideoBlock_videoThumb
                img(loading="lazy", src="img/video_thumbs/tom_bowes2.webp", alt="")
              h3.VideoBlock_title Tom Bowes
              .VideoBlock_description
                p Blood Sweat & Tears Tom Bowes
          .swiper-slide.VideoSwiper_slide
            .VideoBlock
              a(href="https://www.youtube.com/watch?v=zeyOEiTX_iI&feature=emb_title" data-fancybox="gallery").VideoBlock_videoThumb
                img(loading="lazy", src="img/video_thumbs/tomy_emmanuel.webp", alt="")
              h3.VideoBlock_title Tom Bowes
              .VideoBlock_description
                p Blood Sweat & Tears Tom Bowes
          .swiper-slide.VideoSwiper_slide
            .VideoBlock
              a(href="https://www.youtube.com/watch?v=gVTlRVQTuO4&feature=emb_title" data-fancybox="gallery").VideoBlock_videoThumb
                img(loading="lazy", src="img/video_thumbs/tom_bowes.webp", alt="")
              h3.VideoBlock_title Tom Bowes
              .VideoBlock_description
                p Blood Sweat & Tears Tom Bowes
        button(type="button").SwiperBtn.SwiperBtn-next.VideoSwiper_next.hidden-xs
      .VideoSection_bottom
        .SwiperPagination.VideoSection_pagination
        a(href="/artists.html").BtnOutline.BtnOutline-more See all artists reviews
  .FeedbackSection
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-feedbackSection.FeedbackSection_title Our Buyers feedback
      .FeedbackSection_description
        p Something about over the last 52 years , satisfied customers
      .FilterTabs
        .FilterTabsListSwiper.swiper-container.FilterTabs_listWrapper.FilterTabs_listWrapper-swiper.hidden-smPlus
          .swiper-wrapper
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item.FilterTabs_item-active(data-review-category-filter="all") All reviews
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item(data-review-category-filter="zad_900") ZAD 900
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item(data-review-category-filter="zad_80") ZAD 80
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item(data-review-category-filter="zad_50") ZAD 50
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item(data-review-category-filter="zad_20") ZAD 20
            .swiper-slide.FilterTabsListSwiper_slide
              li.FilterTabs_item(data-review-category-filter="others") Others
        .FilterTabs_listWrapper.hidden-xs
          ul.FilterTabs_list
            li.FilterTabs_item.FilterTabs_item-active(data-review-category-filter="all") All reviews
            li.FilterTabs_item(data-review-category-filter="zad_900") ZAD 900
            li.FilterTabs_item(data-review-category-filter="zad_80") ZAD 80
            li.FilterTabs_item(data-review-category-filter="zad_50") ZAD 50
            li.FilterTabs_item(data-review-category-filter="zad_20") ZAD 20
            li.FilterTabs_item(data-review-category-filter="others") Others
        .FilterTabs_reviews
          .Review.FilterTabs_review(data-review-category-id="zad_900")
            .Author.Review_author
              .Author_photo
                img(loading="lazy", src="img/review_author.webp", alt="Review author").Author_photoImg
              .Author_name Name Surname
              .Author_productSeries ZAD 900
            .Review_info
              .Review_location Garden Grove, California
              .Review_date 16 days ago
            .Review_audio
              audio(controls id="reviewaudio")
                source(src="/audio/voicemail-66.mp3" type="audio/mp3")
            .QA.Review_qa
              .QA_items
                .QA_item
                  .QA_answer How does this guitar compare with your old guitar, other guitars, or guitars you've tried in stores?
                  .QA_question Much easier to finger, both chords and note picking. My hands don't get as tired
                .QA_item
                  .QA_answer What's your favorite part about this guitar?
                  .QA_question Craftsmanship and sound quality
                .QA_item
                  .QA_answer If you didn't know the price of this guitar what would you estimate the price to be?
                  .QA_question $1,000+
                .QA_item
                  .QA_answer How would you rate customer support?
                  .QA_question Excellent! Polite, responsive and informative
                .QA_item
                  .QA_answer Would you recommend this guitar to others...if so why?
                  .QA_question Without a doubt. There would be no disappointment. It really has a “wow” factor in SO many areas.
                .QA_item
                  .QA_answer Additional comments:
                  .QA_question | would have written a positive review sooner, but | honestly can't put the guitar down long enough to write.
              .QA_moreLinkWrapper.hidden-smPlus
                a(href="#").ArrowLink.QA_moreLink read more
          .Review.FilterTabs_review(data-review-category-id="zad_80")
            .Author.Review_author
              .Author_photo
                img(loading="lazy", src="img/review_author.webp", alt="Review author").Author_photoImg
              .Author_name Name Surname
              .Author_productSeries ZAD 80
            .Review_info
              .Review_location Garden Grove, California
              .Review_date 16 days ago
            .Review_audio
              audio(controls id="reviewaudio")
                source(src="/audio/voicemail-66.mp3" type="audio/mp3")
            .QA.Review_qa
              .QA_items
                .QA_item
                  .QA_answer How does this guitar compare with your old guitar, other guitars, or guitars you've tried in stores?
                  .QA_question Much easier to finger, both chords and note picking. My hands don't get as tired
                .QA_item
                  .QA_answer What's your favorite part about this guitar?
                  .QA_question Craftsmanship and sound quality
                .QA_item
                  .QA_answer If you didn't know the price of this guitar what would you estimate the price to be?
                  .QA_question $1,000+
                .QA_item
                  .QA_answer How would you rate customer support?
                  .QA_question Excellent! Polite, responsive and informative
                .QA_item
                  .QA_answer Would you recommend this guitar to others...if so why?
                  .QA_question Without a doubt. There would be no disappointment. It really has a “wow” factor in SO many areas.
                .QA_item
                  .QA_answer Additional comments:
                  .QA_question | would have written a positive review sooner, but | honestly can't put the guitar down long enough to write.
              .QA_moreLinkWrapper.hidden-smPlus
                a(href="#").ArrowLink.QA_moreLink read more
          .Review.FilterTabs_review(data-review-category-id="zad_50")
            .Author.Review_author
              .Author_photo
                img(loading="lazy", src="img/review_author.webp", alt="Review author").Author_photoImg
              .Author_name Name Surname
              .Author_productSeries ZAD 50
            .Review_info
              .Review_location Garden Grove, California
              .Review_date 16 days ago
            .Review_audio
              audio(controls id="reviewaudio")
                source(src="/audio/voicemail-66.mp3" type="audio/mp3")
            .QA.Review_qa
              .QA_items
                .QA_item
                  .QA_answer How does this guitar compare with your old guitar, other guitars, or guitars you've tried in stores?
                  .QA_question Much easier to finger, both chords and note picking. My hands don't get as tired
                .QA_item
                  .QA_answer What's your favorite part about this guitar?
                  .QA_question Craftsmanship and sound quality
                .QA_item
                  .QA_answer If you didn't know the price of this guitar what would you estimate the price to be?
                  .QA_question $1,000+
                .QA_item
                  .QA_answer How would you rate customer support?
                  .QA_question Excellent! Polite, responsive and informative
                .QA_item
                  .QA_answer Would you recommend this guitar to others...if so why?
                  .QA_question Without a doubt. There would be no disappointment. It really has a “wow” factor in SO many areas.
                .QA_item
                  .QA_answer Additional comments:
                  .QA_question | would have written a positive review sooner, but | honestly can't put the guitar down long enough to write.
              .QA_moreLinkWrapper.hidden-smPlus
                a(href="#").ArrowLink.QA_moreLink read more
          .Review.FilterTabs_review(data-review-category-id="zad_20")
            .Author.Review_author
              .Author_photo
                img(loading="lazy", src="img/review_author.webp", alt="Review author").Author_photoImg
              .Author_name Name Surname
              .Author_productSeries ZAD 20
            .Review_info
              .Review_location Garden Grove, California
              .Review_date 16 days ago
            .Review_audio
              audio(controls id="reviewaudio")
                source(src="/audio/voicemail-66.mp3" type="audio/mp3")
            .QA.Review_qa
              .QA_items
                .QA_item
                  .QA_answer How does this guitar compare with your old guitar, other guitars, or guitars you've tried in stores?
                  .QA_question Much easier to finger, both chords and note picking. My hands don't get as tired
                .QA_item
                  .QA_answer What's your favorite part about this guitar?
                  .QA_question Craftsmanship and sound quality
                .QA_item
                  .QA_answer If you didn't know the price of this guitar what would you estimate the price to be?
                  .QA_question $1,000+
                .QA_item
                  .QA_answer How would you rate customer support?
                  .QA_question Excellent! Polite, responsive and informative
                .QA_item
                  .QA_answer Would you recommend this guitar to others...if so why?
                  .QA_question Without a doubt. There would be no disappointment. It really has a “wow” factor in SO many areas.
                .QA_item
                  .QA_answer Additional comments:
                  .QA_question | would have written a positive review sooner, but | honestly can't put the guitar down long enough to write.
              .QA_moreLinkWrapper.hidden-smPlus
                a(href="#").ArrowLink.QA_moreLink read more
        .LoadingPosts
          .Pagination.hidden-smMinus
            a(href="#").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.BtnOutline-arrowLeft.BtnOutline-disabled.Pagination_prev Previous
            ul.Pagination_list
              li.Pagination_item.Pagination_item-current
                a(href="#").Pagination_link 1
              li.Pagination_item
                a(href="#").Pagination_link 2
              li.Pagination_item
                a(href="#").Pagination_link 3
              li.Pagination_item-more ...
              li.Pagination_item
                a(href="#").Pagination_link 35
            a(href="#").BtnOutline.BtnOutline-darkText.BtnOutline-lightBeigeBg.BtnOutline-arrowRight.Pagination_next next
          a(href="#").BtnYellow.BtnYellow-loadMore.LoadingPosts_btn Load more

block page_bottom
  script(src="/js/guitars.js")