extends layouts/base

block content
  .Banner(style="background-image: url('img/bg_banner.jpg')")
    .Container
      .Banner_textWrapper
        .Banner_intro Easy Play Accoustic Guitars by Denny Zager.
        h1.Banner_title Denny Zager’s Easy Play Acoustic Guitars to Play Better and Enjoy a Superior Sound Without Sore Fingers
        ul.Banner_buttons
          li.Banner_btnItem
            a(href="/compare-models.html").BtnYellow.BtnYellow-guitar.Banner_btn Compare models
          li.Banner_btnItem
            a(href="/video.html").BtnOutline.BtnOutline-video.Banner_btn Watch The Video