extends layouts/base

block content
  .Banner(style="background-image: url('img/bg_banner.jpg')")
    .Container
      .Banner_textWrapper
        .Banner_intro Easy Play Accoustic Guitars by Denny Zager.
        h1.Banner_title Denny Zager’s Easy Play Acoustic Guitars to Play Better and Enjoy a Superior Sound Without Sore Fingers
        ul.Banner_buttons
          li.Banner_btnItem
            a(href="/compare-models.html").BtnYellow.BtnYellow-guitar.Banner_btn Compare models
          li.Banner_btnItem
            a(href="/video.html").BtnOutline.BtnOutline-video.Banner_btn Watch The Video
  .Intro
    .Container
      .Intro_wrapper
        .Intro_left
          .Intro_textWrapper
            .Intro_emphasis
              p Zager Guitars is a #[span.HighlightedText family-owned] and operated business of guitar experts, builders, lovers.
            .Intro_text
              p "Since 1969, Denny Zager’s Unique “Easy Play” Acoustic Guitars helped thousands of Professional Musicians, Guitar Enthusiasts, and Total Beginners, Immerse Themselves in Rich Sound, Pain-Free Play, and Blissful Music."
        .Intro_right
          .QuoteBlock
            .QuoteBlock_imgWrapper
              img(src="img/guitar.jpg" alt="Guitar").QuoteBlock_img
            .Quote.QuoteBlock_quote
              .Quote_text The Beatles would be jealous
              .Quote_author Time Magazine