extends layouts/base

block content
  .Banner.Banner-lessons(style="background-image: url('img/bg_banner_guitars.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            a(href="/guitars.html").Breadcrumbs_link Guitars
          li.Breadcrumbs_item
            span.Breadcrumbs_text Compare models
      .Banner_textWrapper
        h1.Banner_title Learn to play-by-ear from a master with Zager pro instruction
        .Banner_text
          p Denny guides you finger-by-finger, string-by-string, just as if you were in his studio, and shows you all the secrets he's learned from playing, teaching, and performing over 65 years.
        a(href="#").BtnYellow.Banner_btn Get access
  .Logos
    .Container
      h3.Logos_title As seen in
      .Logos_items
        img(src="/img/logos/abc.webp", alt="").Logos_img
        img(src="/img/logos/arthritis.webp", alt="").Logos_img
        img(src="/img/logos/cbs.webp", alt="").Logos_img
        img(src="/img/logos/cnn.webp", alt="").Logos_img
        img(src="/img/logos/ms.webp", alt="").Logos_img
        img(src="/img/logos/nbc.webp", alt="").Logos_img
        img(src="/img/logos/newsweek.webp", alt="").Logos_img
        img(src="/img/logos/time.webp", alt="").Logos_img
  .TitleAndTextSection
    .Container
      .TitleAndTextSection_wrapper
        h2.TitleAndTextSection_title 144 Hours of 1 on 1 Guitar Instruction with Denny Zager
        .TitleAndTextSection_text
          p
            strong Library with 100’s of lessons from a 70 year Master player who's sold over 20 million records worldwide.
          ul
            li Absolute beginners to professionals
            li Learn in hours not weeks or months.
            li Tried and tested by millions of players worldwide.
            li Learn when you want, where you want, at your own pace
            li Unlimited access 24 hours 7 days a week
            li 100% money back guarantee, lifetime warranty
  .PostsSection
    .Container
      h2.SectionTitle.PostsSection_title Whats included
      .PostsSection_items
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title 144 Hours of 1 on 1 Guitar Instruction with Denny Zager
          .Post_description
            p Denny guides you finger-by-finger, #[br.hidden-smPlus]string-by-string, just as if you were in his studio.
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title The Original Zager Guitar Instruction Manual
          .Post_description
            p This easy to use manual will show you how to use Denny's guitar system by showing you how to play a song right away and NOT reciting endless hours of notes and scales.
        .Post.Post-noBorder.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title 10 Years of Denny's Song Arrangement Video #[br.hidden-smPlus]Packages
          .Post_description
            p 30-60 minute Video Guitar Lesson with Denny on a particular song. with a Song Arrangement Lesson Guide.
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title Close Up Slow Speed Video Guitar Demonstrations
          .Post_description
            p These demonstrations will allow you to see Denny play in real time with close up slow speed video of his left hand, right hand, and also a simultaneous two handed view SO you can see every one of Denny's fingers from every possible angle.
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title Zager Easy Play Finger Pattern System
          .Post_description
            p Have you always wanted to learn fingerstyle but when you tried found it so complicated that you went back to strumming or using a pick? If this describes your experience then this part of the library is for you. The most comprehensive fingerstyle instruction guide
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title Guitar Set Up, Tuning & Adjustment Videos
          .Post_description
            p Not only is Denny a world-class musician, he's also a professional guitar builder. These full length feature videos will show you all of the little secrets Denny's learned from working on guitars over 60 years
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title Over 1700 Fully Illustrated Easy Play Guitar Tabs
          .Post_description
            p Zager "Easy Play" Tabs are fully downloadable and printable color guides that provide you with the chords and hand movements to play any song you desire.
            p If you compare Zager tabs with regular tablature you'll find Zager tabs are much easier because they have pictures that show you exactly where to put your fingers.
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title A Complete Course on Writing & Arranging Your Own Music
          .Post_description
            p Have you always wanted to write and arrange your own music? Denny will show you a system he’s used over 4 decades, the same system that helped him write the biggest one-hit wonder of any artist at any time in recording history selling over 20 million records.
        .Post.PostsSection_item
          .Post_imgWrapper
            img(src="img/post_img.webp" alt="Post image").Post_img
          h3.Post_title A Series of Videos Dedicated to Teaching Children
          .Post_description
            p Denny's taught many children over the last 40 years. To be able to help even more children Denny's putting together a special section that will have videos and instruction techniques designed exclusively for younger players. Coming Summer 2017.
      a(href="#").BtnYellow.BtnYellow-postsSection.PostsSection_viewAllBtn.hidden-smPlus View all inclusions
  .SeriesSection.SeriesSection-smallPTDesktop.SeriesSection-foundation
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-seriesSection.SeriesSection_title Shop Our Acoustic Guitars To Play Longer, Move Faster, And Enjoy A Superior Sound Without Sore Fingers
      .SeriesSection_items
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Top of the line
          h3.SeriesBlock_title ZAD 900 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Choice Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Professional
          h3.SeriesBlock_title ZAD 80 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Indian rosewood & Western Caedar Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label #[span.hidden-xs Original] hand made
          h3.SeriesBlock_title ZAD 50 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Solid wood
          h3.SeriesBlock_title ZAD 20 Series
          .SeriesBlock_textWrapper
            .SeriesBlock_description Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
      ul.SeriesSection_buttons
        li.SeriesSection_btnItem
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn Shop all guitars
        li.SeriesSection_btnItem
          a(href="#").BtnOutline.BtnOutline-more.BtnOutline-darkText.BtnOutline-seriesSection.SeriesSection_btn compare guitars
  .NewsLetter
    .Container
      h2.SectionTitle.SectionTitle-lightBeige.SectionTitle-center.NewsLetter_title Join the news letter to get #[span.Yellow 5% OFF]
      form.SubscribeForm.NewsLetter_form
        input(type="email" name="email" placeholder="Email address").FormText.SubscribeForm_textInput
        button(type="submit").BtnYellow.BtnYellow-email.SubscribeForm_submitBtn Join
      .IconsAndTexts.NewsLetter_iconsAndTexts
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness. 
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free.

block page_bottom
  script(src="js/lessons.js")