extends layouts/base

block content
  .Banner.Banner-series(style="background-image: url('img/bg_banner_series_page.webp')")
    .Container
      .Breadcrumbs.Banner_breadcrumbs
        ul.Breadcrumbs_list
          li.Breadcrumbs_item
            a(href="/").Breadcrumbs_link Home
          li.Breadcrumbs_item
            span.Breadcrumbs_text Accessories
      .Banner_textWrapper
        h1.Banner_title ZAD 900 SERIES
        .Banner_text
          p Our flagship guitar. Mr. Zager designed what many are calling the best acoustic on the market today. We've had players put this guitar up against the best from Taylor, Martin, Gibson, Fender, Santa Cruz, Bourgeois, and we never get them back, even with our 100% money back guarantee.
      .IconsAndTextsSwiper.swiper.Banner_iconsAndTextsSwiper.hidden-smPlus
        .swiper-wrapper
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="/img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
              h3.IconAndText_title Easier playability
              .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="/img/advantages/percent.svg", alt="Percent").CircleIcon_img
              h3.IconAndText_title Lower price save 50%
              .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="/img/advantages/star.svg", alt="Star").CircleIcon_img
              h3.IconAndText_title #1 rated components
              .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .swiper-slide.IconsAndTextsSwiper_slide
            .IconAndText.IconAndText-highlighted.IconsAndTexts_item
              .CircleIcon.IconAndText_icon
                img(loading="lazy", src="/img/advantages/money.svg", alt="Money").CircleIcon_img
              h3.IconAndText_title 100% money back guarantee
              .IconAndText_text including shipping both ways meaning you can try 1 risk free
    .IconsAndTexts.IconsAndTexts-highlighted.IconsAndTexts-series.Banner_iconsAndTexts.hidden-xs
      .Container
        .IconsAndTexts_wrapper
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/guitar.svg", alt="Guitar").CircleIcon_img
            h3.IconAndText_title Easier playability
            .IconAndText_text move faster and play longer #[br.hidden-smMinus]with less &nbsp;finger pain and #[br.hidden-smMinus]soreness.
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/percent.svg", alt="Percent").CircleIcon_img
            h3.IconAndText_title Lower price save 50%
            .IconAndText_text buying direct from the builder avoiding the retail store price mark up
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/star.svg", alt="Star").CircleIcon_img
            h3.IconAndText_title #1 rated components
            .IconAndText_text hand made solid wood guitars #[br.hidden-smMinus]w/ bone nuts, Fishman #[br.hidden-smMinus]electronics
          .IconAndText.IconsAndTexts_item
            .CircleIcon.IconAndText_icon
              img(loading="lazy", src="img/advantages/money.svg", alt="Money").CircleIcon_img
            h3.IconAndText_title 100% money back guarantee
            .IconAndText_text including shipping both ways meaning you can try 1 risk free
  .TextBlocks.TextBlocks-lightBeigeBg.TextBlocks-seriesPage
    .Container
      h2.SectionTitle.SectionTitle-textBlocks.SectionTitle-center.TextBlocks_title Why this series are so amazing?
      .TextBlocks_items
        .TextBlock.TextBlock-extended.TextBlocks_item
          h3.TextBlock_title Woods and sound
          .TextBlock_text
            p Donec aliquet cursus eget nulla semper pellentesque sapien phasellus. Bibendum sed tristique scelerisque integer. Posuere viverra et dictum ac pellentesque ornare enim in tortor. Euismod turpis nullam odio eu sed senectus urna. Adipiscing vulputate maecenas at dignissim mi. Nisl scelerisque at vivamus volutpat aliquet ullamcorper sociis. Nibh eros neque turpis diam metus, feugiat.
          a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-arrowRight.TextBlock_btn jump to models
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img1.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-extended.TextBlock-reverse.TextBlocks_item
          h3.TextBlock_title Feature highlight
          .TextBlock_text
            p Nunc lacus vestibulum viverra tellus ipsum est pharetra. Pulvinar magna hendrerit eget fusce id sed nunc, pharetra potenti. Sagittis faucibus diam, donec hendrerit facilisis donec. A tristique convallis tincidunt nisl lorem dui. Aliquam gravida euismod nunc sem consectetur. Accumsan posuere orci maecenas pretium at aliquet. Quis mollis ac cum bibendum. Massa dignissim facilisi id eget. Mi feugiat viverra vulputate elementum magna elit tellus nunc. Molestie porttitor quisque id viverra nisl consectetur quis.
          a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-arrowRight.TextBlock_btn jump to models
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img2.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-extended.TextBlocks_item
          h3.TextBlock_title Woods and sound
          .TextBlock_text
            p Nunc aliquam sollicitudin morbi diam egestas. Neque, ullamcorper netus ipsum pharetra venenatis blandit est nulla laoreet. Sit non duis tincidunt est. Nulla auctor cras ornare senectus elementum. Fringilla consequat maecenas mauris ullamcorper lectus quisque. Volutpat fames turpis purus tellus morbi. Semper mollis suscipit nulla viverra etiam etiam pulvinar aliquet. In maecenas non felis, turpis pulvinar et. Lorem pharetra, hac suspendisse enim tellus nunc in morbi.
          a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-arrowRight.TextBlock_btn jump to models
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img3.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-extended.TextBlock-reverse.TextBlocks_item
          h3.TextBlock_title Feature highlight
          .TextBlock_text
            p Nunc aliquam sollicitudin morbi diam egestas. Neque, ullamcorper netus ipsum pharetra venenatis blandit est nulla laoreet. Sit non duis tincidunt est. Nulla auctor cras ornare senectus elementum. Fringilla consequat maecenas mauris ullamcorper lectus quisque. Volutpat fames turpis purus tellus morbi. Semper mollis suscipit nulla viverra etiam etiam pulvinar aliquet. In maecenas non felis, turpis pulvinar et. Lorem pharetra, hac suspendisse enim tellus nunc in morbi. 
          a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-arrowRight.TextBlock_btn jump to models
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img1.jpg", alt="").TextBlock_img
        .TextBlock.TextBlock-extended.TextBlocks_item
          h3.TextBlock_title Woods and sound
          .TextBlock_text
            p In nunc eu, odio fames sed malesuada neque, eget lacus. Faucibus condimentum sit dictum dignissim in. Condimentum quam lorem et justo, in. Quam magna morbi eget vitae. Penatibus nec ullamcorper viverra vitae consectetur ut faucibus elementum arcu. Id lorem id dui mauris eu aliquam quam viverra. Pretium tellus aliquam eu in egestas posuere sagittis sodales. Consectetur habitant odio nulla odio. Quis faucibus euismod ullamcorper cras. Est lacus eget hendrerit vitae turpis volutpat diam. Vulputate mattis at morbi est, sed.
          a(href="#").BtnOutline.BtnOutline-lightBeigeBg.BtnOutline-darkText.BtnOutline-arrowRight.TextBlock_btn jump to models
          .TextBlock_imgWrapper
            img(loading="lazy", src="img/textblock_img2.jpg", alt="").TextBlock_img
  .Products
    .Container
      .InfoBlock.InfoBlock-discount.Products_infoBlock
        p 30-day 100% money back guarantee that includes shipping fees both ways.
      .ProductCardsSwiper.Products_cardsSwiper.swiper.hidden-mdPlus
        .swiper-wrapper
          .swiper-slide.ProductCardsSwiper_slide
            .ProductCard
              .ProductCard_wrapper
                .ProductCard_imgWrapper
                  img(src="img/product_block_img.webp").ProductCard_img
                  span.Label.Label-productCardSmall.ProductCard_label special edition
                  span.Tag.Tag-productCardSmall.ProductCard_tag Save 20%
                .ProductCard_textWrapper
                  h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
                  .ProductCard_description
                    p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
                  .ProductCard_tags
                    .ProductCard_tagsLabel Available in
                    ul.ProductCard_tagsList
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Electric
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Full size
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
                  .ProductCard_prices
                    .OldPrice.OldPrice-productCard from $2395
                    .Price.Price-productCard from $1995.00
                  a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductCardsSwiper_slide
            .ProductCard
              .ProductCard_wrapper
                .ProductCard_imgWrapper
                  img(src="img/product_block_img.webp").ProductCard_img
                  span.Label.Label-productCardSmall.ProductCard_label special edition
                  span.Tag.Tag-productCard.ProductCard_tag Save 20%
                .ProductCard_textWrapper
                  h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
                  .ProductCard_description
                    p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
                  .ProductCard_tags
                    .ProductCard_tagsLabel Available in
                    ul.ProductCard_tagsList
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Electric
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Full size
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
                  .ProductCard_prices
                    .OldPrice.OldPrice-productCard from $2395
                    .Price.Price-productCard from $1995.00
                  a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
          .swiper-slide.ProductCardsSwiper_slide
            .ProductCard
              .ProductCard_wrapper
                .ProductCard_imgWrapper
                  img(src="img/product_block_img.webp").ProductCard_img
                  span.Label.Label-productCardSmall.ProductCard_label special edition
                  span.Tag.Tag-productCard.ProductCard_tag Save 20%
                .ProductCard_textWrapper
                  h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
                  .ProductCard_description
                    p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
                  .ProductCard_tags
                    .ProductCard_tagsLabel Available in
                    ul.ProductCard_tagsList
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Electric
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Full size
                      li.ProductCard_tagsItem
                        a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
                  .ProductCard_prices
                    .OldPrice.OldPrice-productCard from $2395
                    .Price.Price-productCard from $1995.00
                  a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options
      .Products_items.hidden-smMinus
        .ProductCard.ProductCard-twoColumnMd.Products_item
          .ProductCard_wrapper
            .ProductCard_imgWrapper
              img(src="img/product.webp").ProductCard_img
              span.Label.Label-productCardSmall.ProductCard_label special edition
              span.Tag.Tag-productCard.ProductCard_tag Save 20%
            .ProductCard_textWrapper
              h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
              .ProductCard_description
                p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
              .ProductCard_prices
                .OldPrice.OldPrice-productCardTwoColumn $2395.00
                .Price.Price-productCardTwoColumn $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-twoColumnMd.Products_item
          .ProductCard_wrapper
            .ProductCard_imgWrapper
              img(src="img/product.webp").ProductCard_img
              span.Label.Label-productCardSmall.ProductCard_label special edition
              span.Tag.Tag-productCard.ProductCard_tag Save 20%
            .ProductCard_textWrapper
              h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
              .ProductCard_description
                p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
              .ProductCard_prices
                .OldPrice.OldPrice-productCardTwoColumn $2395.00
                .Price.Price-productCardTwoColumn $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
        .ProductCard.ProductCard-twoColumnMd.Products_item
          .ProductCard_wrapper
            .ProductCard_imgWrapper
              img(src="img/product.webp").ProductCard_img
              span.Label.Label-productCardSmall.ProductCard_label special edition
              span.Tag.Tag-productCard.ProductCard_tag Save 20%
            .ProductCard_textWrapper
              h3.ProductCard_title 50th Anniversary Tobacco Sunburst edition ZAD 900
              .ProductCard_description
                p Our flagship guitar. Customers have asking Mr. Zager to build this instrument for such a long time that he finally gave in and designed 
              .ProductCard_tags
                .ProductCard_tagsLabel Available in
                ul.ProductCard_tagsList
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Acoustic
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Electric
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Full size
                  li.ProductCard_tagsItem
                    a(href="#").CategoryTag.CategoryTag-productCard Orchestra Size
              .ProductCard_prices
                .OldPrice.OldPrice-productCardTwoColumn $2395.00
                .Price.Price-productCardTwoColumn $1995.00
              a(href="#").BtnYellow.BtnYellow-productCard.ProductCard_btn View options and features
  .SeriesSection.SeriesSection-lightBeige.SeriesSection-smallPTDesktop
    .Container
      h2.SectionTitle.SectionTitle-center.SectionTitle-seriesSection.SeriesSection_title Why are more pro guitarists choosing Zager hand #[br]made guitars over Martin, Taylor, Fender and Gibson?
      .SeriesSection_items
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Top of the line
          h3.SeriesBlock_title ZAD 900 Series
          .SeriesBlock_textWrapper.SeriesBlock_textWrapper-greyBgMob
            .SeriesBlock_description.SeriesBlock_description-greyBgMob Indian rosewood & Choice Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 900").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Professional
          h3.SeriesBlock_title ZAD 80 Series
          .SeriesBlock_textWrapper.SeriesBlock_textWrapper-greyBgMob
            .SeriesBlock_description.SeriesBlock_description-greyBgMob Indian rosewood & Western Caedar Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 80").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label #[span.hidden-xs Original] hand made
          h3.SeriesBlock_title ZAD 50 Series
          .SeriesBlock_textWrapper.SeriesBlock_textWrapper-greyBgMob
            .SeriesBlock_description.SeriesBlock_description-greyBgMob Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
        .SeriesBlock.SeriesSection_item
          .Label.Label-seriesBlock.SeriesBlock_label Solid wood
          h3.SeriesBlock_title ZAD 20 Series
          .SeriesBlock_textWrapper.SeriesBlock_textWrapper-greyBgMob
            .SeriesBlock_description.SeriesBlock_description-greyBgMob Mahogany and Sitka Spruce Guitars
          .SeriesBlock_imgWrapper
            img(loading="lazy", src="img/series.jpg", alt="ZAD 50").SeriesBlock_img
      ul.SeriesSection_buttons
        li.SeriesSection_btnItem
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn.hidden-smPlus Shop all guitars
          a(href="#").BtnYellow.BtnYellow-guitar.BtnYellow-seriesSection.SeriesSection_btn.hidden-xs Shop all guitars
        li.SeriesSection_btnItem
          a(href="#").BtnOutline.BtnOutline-more.BtnOutline-darkText.BtnOutline-seriesSection.SeriesSection_btn compare guitars

block page_bottom
  script(src="/js/series_page.js")