.AccessoryTile
  display grid
  grid-template-columns 132px 1fr
  align-items center
  border-radius 4px
  background $grey
  color $dark
  text-decoration none

  &_img
    display block
    border-bottom-left-radius 4px
    border-top-left-radius 4px

  &_title
    padding 20px
    font-size 14px
    line-height 22px