// .ArtistReviews
  // padding 42px 0
  // background $grey

  // @media $smPlus
  //   padding 60px 0 80px
  
  // &_featured
  //   margin-bottom 45px

  //   @media $smPlus
  //     margin-bottom 62px