.Article
	padding 40px 0
	
	&_title
		margin-bottom 20px
	
	&_content
		margin-bottom 30px
		font-size 18px
		line-height 1.6
		
		& > p
			margin-bottom 16px
		
		a
			font-weight bold
			color $red
			text-decoration none
	
	&_footer
		text-align right