.ArtistReview
  padding 42px 0 45px
  background $grey
  
  @media $smPlus
    padding 60px 0 62px
  
  &_title
    margin-bottom 39px

    @media $smPlus
      margin-bottom 74px
      
  &_inner
    position relative
    padding 40px 25px
    border-radius 4px
    background $lightBeige

    @media $mdPlus
      display grid
      grid-template-columns 1fr 46%
      column-gap 29px
      padding-right 39px
      padding-bottom 50px
      padding-left 39px

  &_tag
    position absolute
    top -14px

    @media $mdPlus
      left 39px
  
  &_author,
  &_subTitle
    font-weight bold
    font-family $robotoSlab
  
  &_author
    margin-bottom 6px
    font-size 28px
    line-height 32px
  
  &_subTitle
    margin-bottom 25px
    font-size 18px
    line-height 22px

    @media $mdPlus
      margin-bottom 19px
  
  &_imgWrapper,
  &_videoWrapper
    margin-bottom 23px

    @media $mdPlus
      display grid
      grid-row 1 / 4
      grid-column 2 / 3
      align-self center
      margin-bottom -11px
  
  &_imgWrapper
    @media $mdPlus
      justify-content end
  
  &_img
    display block
  
  &_text
    font-size 16px
    line-height 1.625
    letter-spacing 0.005em