.Author
  display grid
  grid-template-columns 80px 1fr
  gap 4px 20px

  @media $smPlus
    display block
    text-align center

  &_photo
    grid-row 1 / 3

    @media $smPlus
      margin-bottom 40px
  
  &_photoImg
    display block

    @media $xs
      width 80px

    @media $smPlus
      margin-right auto
      margin-left auto
  
  &_name,
  &_productSeries
    font-weight bold
    font-family $robotoSlab
    font-size 19px
    line-height 24px
  
  &_name
    align-self end
    
    @media $smPlus
      margin-bottom 16px
      font-size 23px
      line-height 1.392
  
  &_productSeries
    align-self start

    @media $smPlus
      font-size 32px
      line-height 1.375