.Banner
  position relative
  padding 50px 0 49px
  background-position 64.1% 0
  background-repeat no-repeat
  background-size cover
  
  &::before
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    width 100%
    background linear-gradient(20.96deg, #251305 0%, #251305 46.4%, rgba(37, 19, 5, 0) 86.04%)
    pointer-events none
    
    @media $xs
      opacity 0.85

    @media $smPlus
      width 59.53%
      background linear-gradient(90deg, #251305 0%, #251305 53.93%, rgba(37, 19, 5, 0) 100%)

  @media $smPlus
    padding 62px 0 90px
    background-position center 0
  
  &_breadcrumbs,
  .Breadcrumbs
    position relative
    margin-bottom 20px

    @media $smPlus
      margin-bottom 25px

  &_textWrapper
    position relative
    width 640px
    max-width 100%
  
  &_intro,
  &_title
    font-weight bold
    font-family $robotoSlab
  
  &_intro
    margin-bottom 26px
    color $yellow
    letter-spacing 0.06em
    text-transform uppercase

    @media $xs
      margin-bottom 21px

  &_title
    margin-bottom 66px
    color $lightBeige
    font-size 32px
    line-height 1.625

    &:last-child
      margin-bottom 0

    @media $xs
      margin-bottom 40px
      font-size 28px
      line-height 1.5
  
  &_text
    margin-bottom 18px
    color $lightBeige
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.25), 0 0 3px #3A261F
    font-size 18px
    line-height 1.56
    letter-spacing -0.005em

    @media $smPlus
      margin-bottom 39px
      line-height 1.78
  
  &_buttons
    display grid
    column-gap 8px
    grid-auto-flow column
    justify-content start
    align-items center
    list-style none

    @media $xxs
      grid-auto-flow row
      justify-content stretch
      row-gap 10px

    &:last-child
      margin-bottom 0
  
  &_btn
    @media $xxs
      width 100%
  
  &_iconsAndTexts
    position relative
    margin-top 90px
  
  &_iconsAndTextsSwiper
    @media $xs
      margin-top 45px
      margin-right -25px
  
  &-secondaryPage
    @media $xs
      padding-bottom 52px
      background-position 0 0
      
      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
    
    @media $smPlus
      // padding 41px 0 0
      padding 41px 0 90px
      background-position center
      
      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
    .Banner_textWrapper
      width 730px
    
    .Banner_title
      font-size 32px
      line-height 1.375

      @media $smPlus
        margin-bottom 40px
        font-size 48px
        line-height 1.25
    
    .Banner_buttons
      margin-bottom 44px

      @media $smPlus
        margin-bottom 90px

      &:last-child
        margin-bottom 0
  
  &-noPaddingBottomDesktop
    @media $smPlus
      padding-bottom 0
  
  &-guitars,
  &-allGuitars
    padding-bottom 28px

    @media $xs
      background-position 26.5% 0

    @media $smPlus
      padding-top 41px
      padding-bottom 0

    &::before
      @media $smPlus
        display none
    
    .Banner_textWrapper
      @media $smPlus
        width 740px

    .Banner_title
      font-size 32px
      line-height 1.375

      @media $smPlus
        margin-bottom 40px
        font-size 48px
        line-height 1.25
    
    .Banner_buttons
      margin-bottom 44px

      @media $smPlus
        margin-bottom 90px

      &:last-child
        margin-bottom 0
  
  &-accessories
    padding-bottom 64px
    background-position 0 center

    @media $smPlus
      padding 31px 0 99px

    &::before
      @media $xs
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
      
      @media $smPlus
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
    .Banner_breadcrumbs
      @media $smPlus
        margin-bottom 35px
    
    .Banner_textWrapper
      @media $smPlus
        width 720px
    
    .Banner_title
      margin-bottom 0
      font-size 32px
      line-height 1.375

      @media $smPlus
        font-size 48px
        line-height 1.25
  
  &-artists
    @media $xs
      padding-bottom 40px
      background-position 30% 0

      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
    
    @media $smPlus
      padding 39px 0 62px
      background-position center

      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
    .Banner_textWrapper
      width 720px
  
  &-series
    @media $xs
      padding-bottom 23px
      background-position 44% 30%
      background-size auto

      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
    
    @media $smPlus
      padding-top 40px
      padding-bottom 0
      
      &::before
        width 100%
        background linear-gradient(280.49deg, rgba(0, 0, 0, 0.6) 0.79%, rgba(0, 0, 0, 0) 75.41%)

    .Banner_title
      margin-bottom 20px
      font-size 32px
      line-height 1.375

      @media $smPlus
        margin-bottom 27px
        font-size 48px
        line-height 1.25
    
    .Banner_textWrapper
      @media $smPlus
        width 550px
  
  &-about
    @media $xs
      padding-bottom 52px
      background-position 0 0
      
      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
    
    @media $smPlus
      padding 39px 0 64px
      background-position center
      
      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
    .Banner_textWrapper
      width 730px
  
  &-faq
    @media $xs
      padding 51px 0 54px
      background-position 0 0

      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
    
    @media $smPlus
      padding 42px 0 77px
      background-position center

      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
    .Banner_breadcrumbs
      margin-bottom 25px
    
    .Banner_textWrapper
      width 680px
    
    .Banner_title
      font-size 32px
      line-height 1.375

      @media $smPlus
        font-size 48px
        line-height 1.25
  
  &-allGuitars
    @media $smPlus
      padding-top 49px
      background-position center
    
    .Banner_breadcrumbs
      @media $smPlus
        margin-bottom 16px

    .Banner_title
      margin-bottom 40px

      @media $smPlus
        margin-bottom 74px
  
  &-compare,
  &-foundation
    padding-bottom 58px
    background-position 42% 0

    .Banner_textWrapper
      width 720px
    
    @media $xs
      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
      
      .Banner_title
        font-size 32px
        line-height 44px
    
    @media $smPlus
      padding 40px 0 68px
      background-position center

      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
      
      .Banner_title
        font-size 48px
        line-height 60px

        &:not(:last-child)
          margin-bottom 40px
  
  &-foundation
    @media $xs
      padding-top 52px
    
    @media $smPlus
      padding-top 43px
      padding-bottom 78px

    .Banner_breadcrumbs
      margin-bottom 24px
  
  &-lessons
    @media $xs
      &::before
        background linear-gradient(20.96deg, rgba(37, 19, 5, 0.65) 0%, rgba(37, 19, 5, 0.65) 46.4%, rgba(37, 19, 5, 0) 86.04%)
      
      .Banner_title
        margin-bottom 20px
    
    @media $smPlus
      padding 40px 0 81px
      background-position center

      &::before
        width 100%
        background linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))

      .Banner_title
        margin-bottom 28px
    
    .Banner_textWrapper
      width 560px
    
    .Banner_text
      @media $xs
        margin-bottom 30px