.BtnGrey
  display inline-grid
  grid-auto-flow column
  justify-content center
  align-items center
  column-gap 0.5625em
  max-width 100%
  padding 10px 40px
  font-weight bold
  font-family $robotoSlab
  font-size 14px
  line-height 20px
  border none
  border-radius 4px
  background $grey3
  color $dark
  letter-spacing 0.06em
  text-transform uppercase
  text-align center
  text-decoration none
  white-space nowrap
  cursor pointer
  @extend .transition
  
  &:hover
    background darken($grey3, 5)
  
  &-totalPrice
    padding 5px 11px
    font-family $baseFont
    line-height 22px
    text-transform none
    letter-spacing normal