.BtnOutline
  display inline-grid
  grid-auto-flow column
  align-items center
  justify-content center
  column-gap 0.5625em
  max-width 100%
  padding 0.875em 1.5625em 0.875em 1.625em
  font-weight bold
  font-family $robotoSlab
  font-size 16px
  border 2px solid $yellow
  border-radius 4px
  color $yellow
  letter-spacing 0.06em
  text-transform uppercase
  text-align center
  text-decoration none
  white-space nowrap

  &,
  &::before,
  &::after
    @extend .transition
  
  &:hover
    background $yellow
    color $dark
  
  &-video      
    &::before
      content ''
      width 1.3125em
      height 1.25em
      background url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 1.25a8.75 8.75 0 1 0 .001 17.501A8.75 8.75 0 0 0 10.5 1.25Zm2.815 8.885-4.266 3.103a.157.157 0 0 1-.248-.127V6.908a.156.156 0 0 1 .248-.127l4.266 3.102a.155.155 0 0 1 .047.197.156.156 0 0 1-.047.055Z' fill='%23FEBD70'/%3E%3C/svg%3E") 0 0 / cover no-repeat
    
    &:hover::before
      background-image url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 1.25a8.75 8.75 0 1 0 .001 17.501A8.75 8.75 0 0 0 10.5 1.25Zm2.815 8.885-4.266 3.103a.157.157 0 0 1-.248-.127V6.908a.156.156 0 0 1 .248-.127l4.266 3.102a.155.155 0 0 1 .047.197.156.156 0 0 1-.047.055Z' fill='%2313141a'/%3E%3C/svg%3E")
  
  &-more      
    &::after
      content ''
      width 1.25em
      height 1.25em
      background url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.578 3 7 7-7 7M1 10h16.5' stroke='%23FEBD70' stroke-width='2'/%3E%3C/svg%3E") 0 0 / cover no-repeat
    
    &:hover::after
      background-image url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.578 3 7 7-7 7M1 10h16.5' stroke='%2313141a' stroke-width='2'/%3E%3C/svg%3E")

  &-product
    padding 0.857142em 1.071428em
    font-size 14px
    color $dark

    @media $xs
      padding 16px 15px
  
  &-darkText
    color $dark

    &.BtnOutline-more
      &::after
        background-image url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.578 3 7 7-7 7M1 10h16.5' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E")
  
  &-seriesSection
    padding-right 1.75em
    padding-left 1.75em
  
  &-lightBeigeBg
    background rgba($lightBeige, .45)
  
  &-arrowLeft
    &::before
      content ''
      width 20px
      height 16px
      background url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1 2 8l7 7M19.578 8h-16.5' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E") 0 0 no-repeat
  
  &-arrowRight
    &::after
      content ''
      width 19px
      height 16px
      background url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.578 1 7 7-7 7M0 8h16.5' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E") 0 0 no-repeat
  
  &-disabled
    opacity 0.45
    pointer-events none
  
  &-accessoryCard
    @media $smPlus
      padding-top 11px
      padding-bottom 11px
      font-size 14px