.CartBtn
  display inline-grid
  grid-template-columns auto 1fr
  column-gap 10px
  align-items center
  padding 10px 22px
  border 2px solid $dark
  border-radius 2px
  color $dark
  font-size 14px
  font-weight bold
  font-family $robotoSlab
  text-transform uppercase
  letter-spacing 0.06em
  text-decoration none
  @extend .transition

  &:hover
    background-color $dark
    color $lightBeige