.CartBtn
  display inline-grid
  grid-template-columns auto 1fr
  column-gap 0.7142857em
  align-items center
  padding 0.7142857em 1.57142857em
  border 2px solid $dark
  border-radius 2px
  color $dark
  font-size 14px
  font-weight bold
  font-family $robotoSlab
  text-transform uppercase
  letter-spacing 0.06em
  text-decoration none
  @extend .transition
  
  @media $xs
    grid-template-columns 1fr
    width 44px
    height 44px
    padding 10px
    border 1px solid $grey
  
  &_text
    @media $xs
      display none

  &:hover
    background-color $dark
    color $lightBeige