.CategoryTag
  display inline-grid
  padding 4px 8px
  font-weight bold
  border-radius 4px
  background $grey
  color $dark
  font-size 16px
  line-height 1.5
  text-decoration none
  white-space nowrap
  @extend .transition
  
  @media $smPlus
    font-size 20px
    line-height 1.2

  &:hover
    background $beige
  
  &-productCard
    padding-top 2px
    padding-bottom 2px
    line-height 1.375

    @media $smPlus
      font-size 16px