.Characteristic
  display grid
  grid-template-columns 105px 1fr
  gap 11px
  font-size 18px
  line-height 22px

  &_name
    font-weight bold
    font-family $robotoSlab
  
  &_value
    letter-spacing -0.005em