.express-checkout__payment-method
	.affirm-as-low-as
		padding-right 40px
		padding-left 40px
		font-size 12px
		line-height 20px
		color #181818
		font-weight 700
		text-align center
		
		.affirm-modal-trigger
			color #FEBD70
			text-decoration none