.CloseButton
  display inline-grid
  width 44px
  height 44px
  border none
  border-radius 0 4px
  background $grey url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3 3 7 7-7 7M17 3l-7 7 7 7' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E") center center no-repeat
  cursor pointer