.ContactsSection
  padding 40px 0
  background $lightBeige

  @media $smPlus
    padding 60px 0
  
  &_wrapper
    @media $smPlus
      display grid
      grid-template-columns repeat(2, 1fr)
      gap 24px 50px
      align-items center

  &_title
    @media $xs
      margin-bottom 25px
    
    @media $smPlus
      margin-top 8px
  
  &_text
    font-size 18px
    line-height 32px
    letter-spacing -0.005em

    @media $xs
      margin-bottom 25px
    
    @media $smPlus
      margin-top -9px
      margin-bottom -9px
  
  &_info
    margin-bottom 35px
  
  &_formWrapper
    @media $smPlus
      grid-row 1 / 4
      grid-column 2 / 3