.Container
  width 1170px
  max-width 100%
  margin-right auto
  margin-left auto
  padding-right 20px
  padding-left 20px

  @media $xs
    padding-right 25px
    padding-left 25px

  &-textAndImage
    width 1320px
  
  &-header
    @media $xs
      padding-right 13px
      padding-left 13px