.ContactLink
  display inline-grid
  grid-template-columns auto 1fr
  column-gap 9px
  align-items center
  color $brown
  font-weight 600
  font-family $sourceSansPro
  text-decoration none

  @media $xs
    display grid

  &:hover
    color $brown