.ContactLinks
  &_list
    display grid
    grid-template-columns repeat(2, auto)
    align-items center
    list-style none
    column-gap 25px

    @media $smMinus
      column-gap 20px
  
  &_item
    position relative
    
    &::after
      @media $smPlus
        content '|'
        position absolute
        right -14px
        font-weight 600
        font-family $sourceSansPro
        color $grey
    
    &:last-child::after
      display none
  
  &-mobileNavigation
    @media $smMinus
      .ContactLinks_list
        grid-template-columns auto
        row-gap 10px