.Container
  position relative
  width 1170px
  max-width 100%
  margin-right auto
  margin-left auto
  padding-right 20px
  padding-left 20px

  @media $xs
    padding-right 25px
    padding-left 25px

  &-textAndImage
    width 1320px
  
  &-header
    @media $sm
      padding-right 25px
      padding-left 25px

    @media $xs
      padding-right 13px
      padding-left 13px
  
  &-mobileNavigation
    @media $sm
      padding-right 0
      padding-left 0
  
  &-product
    @media $lgPlus
      width 100%
      padding-right 44px
      padding-left 76px
  
  &-videoSectionProduct
    @media $lgPlus
      width 100%
      padding-right 96px
      padding-left 76px
  
  &-reviewsSectionProduct
    @media $lgPlus
      width 100%
      padding-right 47px
      padding-left 76px