.CTASection
  padding 80px 0 60px
  background $lightBeige

  @media $xs
    padding 40px 0

  &_title,
  &_subTitle
    text-align center
  
  &_title
    margin-bottom 10px

    @media $xs
      margin-bottom 15px
  
  &_subTitle
    margin-bottom 48px
    font-size 23px
    line-height 1.392
    font-family $robotoSlab

    @media $xs
      margin-bottom 40px
  
  &_btnWrapper
    margin-bottom 32px
    text-align center

    @media $xs
      margin-bottom 37px
  
  &_btn
    @media $xxs
      width 100%
  
  &_imgWrapper
    display grid
    justify-content center
    overflow hidden
  
  &_img
    max-width none

    @media $xs
      position relative
      right 47px