.FancyboxPopup
  width 836px
  max-width 100%
  background $lightBeige

  &_video
    margin-bottom 60px

  &_title
    // margin-bottom 40px
    margin-bottom 1.25em
    font-weight bold
    font-size 32px
    line-height 1.375
    // line-height 44px
    font-family $robotoSlab
    text-align center
    color $dark
    
    @media $xs
      font-size 24px