.FancyboxPopup
  width 836px
  max-width 100%

  &_video
    margin-bottom 60px

  &_title
    margin-bottom 40px
    font-weight bold
    font-size 32px
    line-height 44px
    font-family $robotoSlab
    text-align center