.FilterTabsListSwiper
  position relative

  &::after
    content ''
    position absolute
    z-index 1
    top 0
    right -25px
    bottom 0
    width 63px
    background linear-gradient(270deg, $grey 0%, rgba($grey, 0) 120.45%)
    pointer-events none

  &_slide
    width auto