.Filter
  &_title
    margin-bottom 25px
    font-weight bold
    font-size 23px
    line-height 1.392
    font-family $robotoSlab

    @media $smPlus
      margin-bottom 20px
      font-size 18px
      line-height 1.157894
    
    @media $lgPlus
      margin-bottom 22px
  
  &_items
    margin-bottom 42px
  
  &_item
    width 198px

    &:not(:last-child)
      margin-bottom 21px
  
  &_actions
    display grid
    row-gap 10px

    @media $xs
      margin-top 22px
      margin-right -10px
  
  &_resetBtn
    width 100%
    padding 16px 28px
    border none
    background transparent
    font-weight bold
    font-family $robotoSlab
    font-size 16px
    line-height 20px
    letter-spacing 0.06em
    text-transform uppercase
    cursor pointer