.FilterTabs
  &_menu
    margin-bottom 40px

    @media $smPlus
      margin-bottom 60px
    
    &-swiper
      @media $xs
        margin-right -25px
  
  &-accordionSection
    .FilterTabs_menu
      @media $smPlus
        margin-bottom 40px