font-face('PT Sans', '../fonts/PT_Sans/subset-PTSans-Regular')
font-face('PT Sans', '../fonts/PT_Sans/subset-PTSans-Bold', bold)
font-face('PT Sans', '../fonts/PT_Sans/subset-PTSans-BoldItalic', bold, italic)
font-face('PT Sans', '../fonts/PT_Sans/subset-PTSans-Italic', 400, italic)

font-face('Roboto Slab', '../fonts/RobotoSlab/subset-RobotoSlab-Regular')
font-face('Roboto Slab', '../fonts/RobotoSlab/subset-RobotoSlab-Bold', bold)

font-face('Source Sans Pro', '../fonts/SourceSansPro/subset-SourceSansPro-Regular')
font-face('Source Sans Pro', '../fonts/SourceSansPro/subset-SourceSansPro-SemiBold', 600)