.Footer
  background $dark
  
  &_top
    padding 71px 0 69px
    border-bottom 1px solid rgba($lightBeige, .15)

  &_topContainer
    display grid
    grid-template-columns 29.3% 17.8% 19.1% 20.6% 1fr
  
  &_logo,
  &_logoImg
    display block
  
  &_logo
    margin-top 17px
  
  &_socIcons
    margin-top 20px
  
  &_bottom
    padding 10px 0
    text-align center
  
  &_copyright
    color $lightBeige
    opacity 0.75
    font-size 14px
    line-height 1.571428