.FormText
  height 64px
  padding-right 24px
  padding-left 24px
  border none
  outline none
  border-radius 4px
  background $grey
  font-size 18px
  font-family $baseFont
  letter-spacing -0.005em
  color rgba($dark, .6)