.Header
  background $lightBeige

  &_top
    padding 15px 0 12px
    border-bottom 1px solid $grey

  &_topWrapper
    display grid
    grid-template-columns repeat(2, auto)
    justify-content space-between
    align-items start
  
  &_right
    display grid
    grid-template-columns repeat(2, auto)
    align-items center
    column-gap 45px
    padding-top 3px