.IconAndText
  width 244px
  color $lightBeige
  text-align center

  &_icon
    margin-bottom 20px

  &_title
    margin-bottom 8px
    font-size 18px
    line-height 1.23
    font-family $robotoSlab
  
  &_text
    font-size 16px
    line-height 1.625
    letter-spacing 0.005em