.InfoBlock
  padding 25px
  border-radius 4px
  background $dark
  color $lightBeige
  font-weight bold
  font-size 20px
  line-height 24px
  font-family $robotoSlab

  @media $smPlus
    padding 40px 42px
    font-size 28px
    line-height 32px
  
  &_title
    margin-bottom 12px
    font-size 23px
    line-height 32px
  
  &_text
    margin-bottom 20px
    font-weight normal
    font-family $baseFont
    font-size 16px
    line-height 26px
    letter-spacing 0.005em
  
  &-hasIcon
    display grid
    grid-template-columns auto
    gap 15px
    align-items center

    @media $xs
      justify-items center

    @media $smPlus
      grid-template-columns auto 1fr
      gap 20px
  
  &-extended
    display grid
    grid-template-rows auto 1fr auto
    text-align center

    @media $smPlus
      padding 24px
  
  &-smallFontDesktop
    @media $smPlus
      font-size 24px
      line-height 38px
  
  &-largePaddingDesktop
    @media $smPlus
      padding 60px 80px
  
  &-centerDesktop
    @media $smPlus
      text-align center
  
  &-alignIconTop
    @media $smPlus
      &::before
        align-self start
  
  &-productsWrapper
    @media $smPlus
      gap 15px
      padding-left 49px
  
  &-seriesSection,
  &-priceSection
    @media $mdPlus
      padding-right 77px
      padding-left 77px
  
  &-priceSection
    @media $xs
      font-size 22px
      line-height 26px
  
  &-featuresTab
    padding-top 36px
    padding-bottom 36px

    .InfoBlock_btn
      justify-self center