.Intro
  background $lightBeige

  &_wrapper
    display grid
    grid-template-columns repeat(2, 1fr)
  
  &_left
    padding 111px 0
  
  &_textWrapper
    width 540px
    max-width 100%
    margin-left 2px
  
  &_emphasis
    margin-bottom 17px
    font-weight bold
    font-size 20px
    line-height 1.6
  
  &_text
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em