.Label
  display inline-grid
  padding 6px 10px
  border-radius 4px 0
  background $dark
  color $beige
  font-weight bold
  font-size 12px
  line-height 1.67
  font-family $robotoSlab
  letter-spacing 0.04em
  text-transform uppercase
  text-align center

  @media $xxsPlus
    font-size 15px

  @media $smPlus
    padding 0.45em 0.723em
    font-size 18px
    line-height 1.12

  &-seriesBlock
    display block
    padding-top 6px
    padding-bottom 6px
    font-size 12px
    line-height 1.67

    @media $smPlus
      display inline-block
      padding 0.42857em 0.92857em
      font-size 14px
      line-height 1.4286
      letter-spacing 0.06em
  
  &-lightBeigeBg
    background $lightBeige
    color $dark
  
  &-large
    padding 8px 12px
    line-height 20px

    @media $xs
      font-size 14px
      letter-spacing 0.06em
  
  &-productCard,
  &-productCardSmall
    padding 4px 12px
    letter-spacing 0.06em
    line-height 20px

    @media $smPlus
      font-size 14px

  &-productCard
    font-size 13px
    
  &-productCardSmall
    font-size 12px