.MainMenu
  &_menu
    display grid
    grid-auto-flow column
    justify-content center
    list-style none
  
  &_link
    display block
    padding 10px 27px
    font-weight bold
    font-size 14px
    font-family $robotoSlab
    text-transform uppercase
    letter-spacing 0.06em
    color $dark
    text-decoration none