.MainMenu
  position sticky
  top 0
  z-index 10
  background $lightBeige
  box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
  
  &_title
    margin-bottom 25px
    font-size 23px
    line-height 1.392
    font-family $robotoSlab

  &_menu
    display grid
    grid-auto-flow column
    justify-content center
    list-style none

    @media $smMinus
      grid-template-columns 1fr
      grid-auto-flow row
      justify-content start
      row-gap 5px
  
  &_item
    @media $sm
      border-bottom 1px solid $grey

    &-parent
      position relative
      
      @media $mdPlus
        &:hover
          .MainMenu_subMenu
            top 100%
            visibility visible
            opacity 1

      @media $smMinus
        max-height 40px
        overflow hidden
        transition all .2s ease-in-out

      .MainMenu_subMenu .MainMenu_link
        @media $sm
          padding 13px 8px 12px 0
          // border-bottom none
          text-transform none
          letter-spacing 0.03em

      & > .MainMenu_link
        display grid
        grid-template-columns auto 1fr
        align-items center
        column-gap 0.28571em

        @media $smMinus
          grid-template-columns 1fr auto
          column-gap 6px

        &::after
          content ''
          width 0.571428em
          height 0.2857em
          background url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.414 1h3.172L4 2.586 2.414 1Z' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E") 0 0 / cover no-repeat
          @extend .transition

          @media $smMinus
            margin-top 2px
    
    &-expanded
      & > .MainMenu_link
        &::after
          transform rotate(180deg)
  
  &_link
    display block
    padding 0.7857em 1.7142857em 0.85714em
    font-weight bold
    font-size 14px
    font-family $robotoSlab
    text-transform uppercase
    letter-spacing 0.06em
    color $dark
    text-decoration none
    transition all .2s ease-in-out
    
    @media $smMinus
      padding-right 0
      padding-left 0
      font-size 14px

    @media $sm
      padding 14px 8px 13px 0
      // border-bottom 1px solid $grey

    &:hover
      @media $mdPlus
        background $grey
  
  &_subMenu
    list-style none
    transition all .2s ease-in-out

    @media $mdPlus
      position absolute
      z-index 100
      top calc(100% + 15px)
      right -8px
      left 0
      min-width 150px
      padding 8px 17px 2px 20px
      border-bottom-right-radius 4px
      border-bottom-left-radius 5px
      background $lightBeige
      visibility hidden
      opacity 0

      .MainMenu_link
        padding 12px 0
        border-bottom 1px solid $grey
        text-transform none
        letter-spacing .03em

        &:hover
          background transparent
          color rgba($dark, .5)
    
    @media $smMinus
      padding-left 20px
    
    @media $sm
      margin-top -7px
      margin-bottom 7px
      padding-left 38px