.MainMenu
  &_title
    margin-bottom 25px
    font-size 23px
    line-height 1.392
    font-family $robotoSlab

  &_menu
    display grid
    grid-auto-flow column
    justify-content center
    list-style none

    @media $xs
      grid-template-columns 1fr
      grid-auto-flow row
      justify-content start
      row-gap 5px
  
  &_item
    &-parent
      position relative
      
      @media $smPlus
        &:hover
          .MainMenu_subMenu
            top 100%
            visibility visible
            opacity 1

      @media $xs
        max-height 40px
        overflow hidden
        transition all .2s ease-in-out

        .MainMenu_subMenu .MainMenu_link
          font-size 12px

      & > .MainMenu_link
        display grid
        grid-template-columns auto 1fr
        align-items center
        column-gap 0.28571em

        @media $xs
          column-gap 6px

        &::after
          content ''
          width 0.571428em
          height 0.2857em
          background url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.414 1h3.172L4 2.586 2.414 1Z' stroke='%2313141A' stroke-width='2'/%3E%3C/svg%3E") 0 0 / cover no-repeat

          @media $xs
            margin-top 2px
  
  &_link
    display block
    padding 0.7857em 1.7142857em 0.85714em
    font-weight bold
    font-size 14px
    font-family $robotoSlab
    text-transform uppercase
    letter-spacing 0.06em
    color $dark
    text-decoration none
    transition all .2s ease-in-out

    @media $sm
      font-size 12px
    
    @media $xs
      padding-right 0
      padding-left 0

    &:hover
      @media $smPlus
        background $grey
  
  &_subMenu
    list-style none
    transition all .2s ease-in-out

    @media $smPlus
      position absolute
      z-index 100
      top calc(100% + 15px)
      left 0
      min-width 200px
      padding 5px 0
      background $lightBeige
      visibility hidden
      opacity 0
    
    @media $xs
      padding-left 20px