.MenuHamburger
  width 44px
  height 44px
  border 1px solid $grey
  outline none
  background transparent
  cursor pointer
  @extend .transition

  &:hover
    background-color $dark
    color $lightBeige