.Offer
  display block
  padding 6px 4px
  background rgba($blue, .1)
  border 2px solid $blue
  border-radius 2px
  color $blue
  font-weight bold
  font-size 14px
  line-height 16px
  text-align center
  text-decoration none