.OldPrice
  font-family $robotoSlab
  color rgba($dark, .3)
  font-weight bold
  font-size 23px
  line-height 1.392
  text-decoration line-through

  @media $smPlus
    font-size 28px
    line-height 1.142857
  
  &-productCard,
  &-productCardTwoColumn
    font-size 19px
    line-height 24px
  
  &-productCardTwoColumn
    @media $smPlus
      font-size 28px
      line-height 32px
  
  &-productOptions
    font-size 32px