.PriceSection
  background $grey

  &_wrapper
    padding 40px 0

    @media $smPlus
      padding 60px 0

    @media $mdPlus
      padding 80px 0

  &_title
    width 930px
    max-width 100%
    margin 0 auto 25px

    @media $smPlus
      margin-bottom 50px

    @media $mdPlus
      margin-bottom 75px
  
  &_items
    display grid
    grid-template-columns 100%
    gap 20px

    @media $smPlus
      grid-template-columns repeat(auto-fit, minmax(344px, 1fr))
      gap 35px 48px
  
  &_item
    &-withTag
      @media $xs
        margin-top 15px