.ProductImgSwiper
  overflow hidden
  
  &_img
    display block

  &_prev,
  &_next
    position absolute
    z-index 1
    top 0
    bottom 25px
    margin auto
  
  &_prev
    left 20px
  
  &_next
    right 20px
  
  .ProductImgSwiper_pagination
    position absolute
    z-index 1
    bottom 32px