.Product
  &_wrapper
    @media $mdPlus
      display grid
      grid-template-columns 1fr 322px

  &_content
    padding 13px 0 0

    @media $smPlus
      padding 41px 0 0
    
    @media $mdPlus
      overflow hidden

  &_offer
    margin 0 -12px 20px
  
  &_breadcrumbs
    margin-bottom 20px

    @media $smPlus
      margin-bottom 28px

    @media $xs
      &:not(:last-child)
        margin-right 20px
  
  &_info
    @media $smPlus
      display grid
      grid-template-columns auto 1fr auto
      justify-content space-between
      align-items baseline
      gap 21px 16px
      margin-right 4px
  
  &_tag
    @media $xs
      margin-bottom 25px
  
  &_specialLabel,
  &_title
    font-weight bold
    font-family $robotoSlab
  
  &_specialLabel
    font-size 14px
    line-height 20px
    text-transform uppercase
    letter-spacing 0.06em

    @media $xs
      margin-bottom 10px
  
  &_title
    margin-bottom 19px
    font-size 28px
    line-height 38px

    @media $smPlus
      grid-row 2 / 3
      grid-column 1 / 4
      font-size 38px
      line-height 49px
    
    @media $mdPlus
      margin-bottom 40px
      font-size 48px
      line-height 60px
  
  &_ratingWrapper
    display grid
    grid-template-columns 100px auto
    justify-content start
    align-items center

    @media $xs
      margin-bottom 33px
      margin-left 4px
    
    @media $mdPlus
      align-items baseline
  
  &_reviewsLabel
    @extend .UnderlinedText
    font-weight bold
    font-family $robotoSlab
    font-size 14px
    line-height 20px
    letter-spacing 0.06em
    color $dark
    text-transform uppercase
    text-decoration none
  
  &_swiperWrapper
    margin-bottom 35px

    @media $mdPlus
      margin-bottom 40px
  
  &_descriptionWrapper
    margin-bottom 34px

    @media $mdPlus
      // margin-bottom 96px
      margin-bottom 54px
  
  &_description
    margin-bottom 24px
    font-size 18px
    line-height 32px
    letter-spacing -0.005em

    @media $mdPlus
      margin-bottom 31px

    & > p:not(:last-child)
      margin-bottom 18px
    
    ul,
    ol
      list-style-position inside
    
    &-truncated
      display -webkit-box
      -webkit-line-clamp 5
      -webkit-box-orient vertical
      overflow hidden
      text-overflow ellipsis
  
  &_descToggleLink
    font-weight bold
    font-family $robotoSlab
    font-size 14px
    line-height 20px
    letter-spacing 0.06em
    text-transform uppercase
    color $dark
    text-decoration none
  
  &_priceCard
    margin-bottom 38px
  
  &_quote
    margin-bottom 36px

    @media $smPlus
      margin-bottom 84px

    @media $mdPlus
      margin-bottom 89px
  
  .Accordion,
  .Tabs
    &:not(:last-child)
      margin-bottom 40px
  
  &_optionsBtnWrapper
    position fixed
    z-index 10
    right 0
    bottom 0
    left 0
    padding 23px 25px
    background $lightBeige
    box-shadow 0 -2px 6px -2px rgba(0, 0, 0, 0.1)
    transition all .3s ease-in-out

    &-invisible
      transform translateY(100%)
  
  &_optionsBtn
    width 100%