.ProductImg
  position relative
  width 735px
  max-width 100%
  border-radius 4px
  overflow-x hidden

  &_label,
  &_tag,
  &_fullScreenBtn
    position absolute
    z-index 1

  &_label,
  &_tag
    top 0
  
  &_label
    left 0
  
  &_tag
    right 0
  
  &_fullScreenBtn
    right 20px
    bottom 20px