.ProductCard
  &_info
    margin-bottom 12px
    color $red
    font-weight bold
    font-size 20px
    line-height 1.2

  &_wrapper
    width 280px
    min-height 100%
    border-radius 4px

    @media $smPlus
      // display grid
      // grid-template-rows auto 1fr
      width 344px

  &_label,
  &_tag
    position absolute
    top 0
    z-index 1
  
  &_label
    left 0
  
  &_tag
    right 0

    &-topLeft
      right auto
      left 0
  
  &_imgWrapper
    position relative
    display grid
    place-content center
    overflow hidden
    border-top-right-radius 4px
    border-top-left-radius 4px
  
  &_img
    display block
    max-width none

  &_textWrapper
    padding 20px 20px 23px
    border-bottom-right-radius 4px
    border-bottom-left-radius 4px
    background $lightBeige

    @media $smPlus
      display grid
      grid-template-rows 1fr minmax(100px, auto) auto auto
      padding 24px 24px
      
      align-items end
  
  &_title
    margin-bottom 20px
    font-size 23px
    line-height 1.392
    font-family $robotoSlab
    
    a
      color $dark
      text-decoration none

    @media $smPlus
      // align-self center
      align-self start
      margin-bottom 15px
  
  &_description
    font-size 16px
    line-height 1.625

    @media $smMinus
      margin-bottom 19px
  
  &_tags
    margin-bottom 20px

    @media $smPlus
      align-self start
  
  &_tagsLabel
    margin-bottom 3px
    font-size 14px
    line-height 1.4286

  &_tagsList
    list-style none
    display flex
    flex-wrap wrap
    gap 4px
  
  &_priceFrom,
  &_prices
    margin-bottom 22px
    font-weight bold
    font-size 19px
    line-height 1.263157
    font-family $robotoSlab
  
  &_priceFrom
    del
      margin-right 7px
      
      &:last-child
        margin-right 0
  
  &_prices
    display grid
    grid-auto-flow column
    justify-content start
    gap 10px
  
  &_btn
    width 100%
  
  &-extended
    @media $smPlus
      .ProductCard_textWrapper
        grid-template-rows 1fr 67px repeat(3, auto)
      
      .ProductCard_title
        margin-bottom 6px
  
  &-twoColumnMd
    @media $mdPlus
      .ProductCard_wrapper
        display grid
        width auto
        min-height 0
        grid-template-columns auto 1fr
        grid-template-rows auto
        background $lightBeige

      .ProductCard_imgWrapper
        display block
        border-radius 4px 0 0 4px
      
      .ProductCard_img
        max-width 100%

      .ProductCard_textWrapper
        grid-template-rows auto
        padding 47px 49px 25px
      
      .ProductCard_title
        margin-bottom 12px
      
      .ProductCard_description
        margin-bottom 20px
      
      .ProductCard_tags
        margin-bottom 23px
      
      .ProductCard_prices
        justify-content end
        margin-bottom 12px
      
      .ProductCard_btn
        justify-self end
        align-self end
        margin-right -3px
  
  &-twoColumnLg
    @media $lgPlus
      .ProductCard_wrapper
        display grid
        width auto
        min-height 0
        // grid-template-columns auto 1fr
        grid-template-columns 45.4% 54.6%
        grid-template-rows auto
        background $lightBeige

      .ProductCard_imgWrapper
        // display block
        border-radius 4px 0 0 4px
      
        img
          height 432px
          width auto
          // max-width 100%

      .ProductCard_textWrapper
        grid-template-rows auto
        padding 36px 49px 39px
      
      .ProductCard_title
        margin-bottom 8px
      
      .ProductCard_description
        margin-bottom 12px
      
      .ProductCard_tags
        margin-bottom 15px
      
      .ProductCard_prices
        justify-content end
        margin-bottom 12px
      
      .ProductCard_btn
        justify-self end
        align-self end
        width auto
        margin-right -3px
  
  &-group
    @media $mdPlus
      .ProductCard_wrapper
        width 246px
      
      .ProductCard_imgWrapper
        max-height 200px
      
      .ProductCard_textWrapper
        grid-template-rows 1fr auto auto auto
        padding 20px 24px 24px
      
      .ProductCard_title
        font-size 19px
        line-height 24px
      
      .ProductCard_tags
        margin-bottom 15px
      
      .ProductCard_priceFrom
        font-size 18px
        line-height 22px