.ProductsWrapper
  background $grey

  @media $xs
    padding 40px 25px

  @media $smPlus
    display grid
    // grid-template-columns 280px 1fr
    grid-template-columns 280px calc(100% - 280px)

  @media $lgPlus
    // grid-template-columns 355px 1fr
    grid-template-columns 355px calc(100% - 355px)
  
  &_accessoriesCards,
  &_products
    margin-bottom 30px

    @media $mdPlus
      margin-bottom 60px
  
  &_infoBlock
    margin-top 30px

    @media $mdPlus
      margin-top 60px
      margin-bottom 12px
  
  &_content
    @media $smPlus
      padding 40px

    @media $lgPlus
      padding 59px 48px 68px

  &_header
    column-gap 20px
    margin-bottom 15px

    @media $smPlus
      display grid
      grid-template-columns repeat(2, auto)
      justify-content space-between
      align-items center
      margin-bottom 40px

  &_buttons
    display grid
    grid-template-columns repeat(2, 1fr)
    column-gap 10px
    list-style none
    margin-bottom 26px
  
  &_btn
    width 100%
  
  &_items
    display grid
    grid-template-columns repeat(auto-fit, minmax(auto, 156px))
    gap 15px 10px
    margin-bottom 30px

    @media $smPlus
      grid-template-columns repeat(auto-fit, minmax(auto, 246px))
      gap 30px

    @media $mdPlus
      gap 60px 46px
      margin-bottom 60px