.ProductSectionImgSwiper
  // @media $xs
  //   height 400px
  
  &_imgWrapper
    position relative
    display block
    text-align center
    
    // min-height 447px
    // overflow hidden
    
    // @media $xs
    //   align-content center
  
  // &_img
    // position absolute
    // top 0
    // left 50%
    // transform translateX(-50%)
    // height 100%
    // width auto
    // max-width none
    // margin-right auto
    // margin-left auto

    // @media $xs
    //   max-width none
  
  .ProductSectionImgSwiper_pagination
    position absolute
    z-index 1
    bottom 32px