.ProductCardsGrid
	&_header
		display grid
		grid-template-columns repeat(4, 1fr)
		gap 48px
		margin-bottom 40px
	
	&_row
		display grid
		grid-template-columns repeat(4, 1fr)
		gap 48px
		
	&_columnTitle
		font-weight bold
		font-family $robotoSlab
		font-size 32px
		line-height 44px
	
	&_body
		display grid
		grid-template-columns 100%
		gap 60px