.Products
  padding 118px 0 40px
  background $grey

  @media $smPlus
    padding-bottom 78px
  
  &_loader,
  &_reload
    margin-top 150px
    margin-bottom 150px
    
    @media $xs
      margin-top 20px
      margin-bottom 20px
  
  &_cardsSwiper
    @media $xs
      margin-right -25px
      margin-left -25px
      padding-right 25px
      padding-left 25px
  
  &_items
    display grid
    gap 60px
  
  &-productsWrapper,
  &-discountVault
    padding 0
      
    .Products_items
      gap 40px
      
      @media $lgMinus
        grid-template-columns repeat(auto-fit, minmax(344px, auto))
  
  &-productsWrapper
    .Products_items,
    .Products_cardsSwiper
      margin-bottom 30px

      @media $mdPlus
        margin-bottom 60px
    
    .Products_items
      @media $xs
        grid-template-columns repeat(auto-fit, minmax(280px, 1fr))
  
  &-discountVault
    .Products_items
      gap 60px