.ProductSectionImg
  position relative
  width 735px
  max-width 100%
  border-radius 4px

  &_prev,
  &_next
    position absolute
    z-index 1
    top 0
    bottom 25px
    margin auto

    @media $xs
      bottom 0
  
  &_prev
    left 20px

    @media $xs
      left -16px
  
  &_next
    right 20px

    @media $xs
      right -16px

  &_label,
  &_tag,
  &_fullScreenBtn
    position absolute
    z-index 1

  &_label,
  &_tag
    top 0
  
  &_label
    left 0
  
  &_tag
    right 0
  
  &_fullScreenBtn
    right 20px
    bottom 20px

    @media $xs
      right 0
      bottom 0
      left 0
      margin-right auto
      margin-left auto