.ProductCardsGroup
  &_title
    margin-bottom 25px
    font-weight bold
    font-size 36px
    line-height 64px
    font-family $robotoSlab

    @media $mdPlus
      margin-bottom 40px
      font-size 32px
      line-height 44px
  
  &_swiper
    margin-right -25px
    margin-left -25px
    padding-right 25px
    padding-left 25px

    @media $smPlus
      margin-right -20px
      margin-left -20px
      padding-right 20px
      padding-left 20px
    
    @media $mdPlus
      margin-right 0
      margin-left 0
      padding-right 0
      padding-left 0
  
  &_items
    display grid
    gap 60px