.ProductImgSwiper
  &_galleryWrapper
    @media $mdPlus
      margin-bottom 8px

  &_gallery
    @media $xs
      margin-right -25px
      margin-left -25px
      padding-right 25px
      padding-left 25px
    
    @media $sm
      margin-right -20px
      margin-left -20px
      padding-right 20px
      padding-left 20px
  
  &_gallerySlide
    display grid
    width 280px
    min-height 194px
    background $white
    border-radius 4px
  
  &_galleryLink
    display grid
    align-items center
    justify-content center
    height 100%
    padding 15px

    @media $mdPlus
      min-height 314px
      padding-bottom 0
  
    img
      @media $smMinus
        width 248px
  
  &_prev,
  &_next
    position absolute
    z-index 10
    top 0
    bottom 0
    margin auto
  
  &_prev
    left 19px
  
  &_next
    right 21px
  
  &_fullScreenBtn
    position absolute
    z-index 1
    bottom 0
    left 50%
    transform translateX(-50%)

    @media $mdPlus
      bottom 19px
  
  &_thumbsSlide
    @media $mdPlus
      height 76px
      padding 5px 0
      border-radius 4px
      background $white
      text-align center
      opacity 0.35
      cursor pointer
      @extend .transition

      &:hover,
      &-active
        opacity 1