.ProductOptions
  position sticky
  max-height 100vh
  top 10px
  padding 36px 42px 16px 32px
  overflow auto
  
  &_inner
    max-width 222px
  
  &_offer
    margin-bottom 10px
    
  &_variationsBlocks
    margin-bottom 20px
    
  &_variationsBlock:not(:last-child)
    margin-bottom 10px