.QuoteBlock
  display grid
  justify-content end
  position relative
  width 565px
  max-width 100%
  overflow hidden

  @media $xs
    max-height 86.7vw
    justify-content start
  
  &_img
    display block

    @media $xs
      margin-top -14%
  
  &_quote
    position absolute
    top 50%
    left 12.3%
    transform translateY(-48%)
    
    @media $xs
      top 46%
      left 7.7%
  
  &-textAndQuoteSection
    .QuoteBlock_quote
      left 11.7%
      transform translateY(-64%)

      @media $xs
        top 56%
        left 7.6%
    
    .QuoteBlock_imgWrapper
      @media $xs
        transform scale(-1, 1)
    
    .QuoteBlock_img
      @media $xs
        margin-top -18%