.QuoteBlock
  display grid
  justify-content end
  position relative
  width 565px
  max-width 100%
  
  &_img
    display block
  
  &_quote
    position absolute
    top 50%
    transform translateY(-48%)
    left 83px
  
  &-textAndQuoteSection
    .QuoteBlock_quote
      left 79px
      transform translateY(-64%)