.RangeSlider
  position relative
  height 4px
  background $grey
  
  &_range
    position absolute
    height 100%
    background $chocolate
  
  &_handle
    position absolute
    top -6px
    width 16px
    height 16px
    background $dark
    outline none
    cursor pointer

    &:last-child
      margin-left -16px