.RatingStars
  &_list
    list-style none
    display grid
    grid-template-columns repeat(auto-fill, 12px)
    gap 8px
  
  &_item
    width 12px
    height 12px
    background url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.595 7.054 1.135 4.297L6 8.271l-3.73 3.08 1.135-4.216L0 4.297l4.378-.243L6 0l1.622 4.054L12 4.297 8.595 7.054Z' fill='%2313141A'/%3E%3C/svg%3E") 0 0 no-repeat
    opacity 0.35
    cursor pointer
    @extend .transition

    &:hover,
    &-filled
      opacity 1