.Rating
  display grid
  grid-template-columns 26.4px 1fr
  gap 9px
  align-items center
  color $yellow
  font-weight bold
  font-family $robotoSlab
  font-size 32px
  line-height 36px

  &::before
    content ''
    height 24.97px
    background url("data:image/svg+xml,%3Csvg width='28' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m19.708 16.393 2.497 9.454L14 19.07l-8.206 6.778 2.498-9.276L.8 10.329l9.632-.535L14 .874l3.567 8.92 9.633.534-7.492 6.065Z' fill='%23F3B25D'/%3E%3C/svg%3E") 0 0 no-repeat