.ReviewsSectionGroup
  &_title
    margin-bottom 25px
  
  &_subTitle
    margin-bottom 25px
    margin-top -9px
    font-family $robotoSlab
    font-size 14px
    line-height 24px
  
  &_result,
  &_resultLabel
    font-weight 500
    font-size 19px
  
  &_result
    color $yellowDarker
  
  &_resultLabel
    margin-left 3px
  
  &_description
    margin-bottom 25px
    font-size 18px
    line-height 32px
    letter-spacing -0.005em