.SectionTitle
  font-weight bold
  font-size 36px
  line-height 1.34
  font-family $robotoSlab

  @media $xs
    font-size 28px
    line-height 1.5

  &-center
    text-align center
  
  &-lightBeige
    color $lightBeige