.select2-sorting.select2-container
	.select2-dropdown
		background $lightBeige
		filter drop-shadow(0 3px 3.5px rgba(0, 0, 0, .16))

	&.select2-container--default .select2-results>.select2-results__options
		padding 5px 0

	&.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
		background transparent
		color $yellow

	&.select2-container--default .select2-results__option
		padding 10px
		font-weight 700
		transition all .2s ease-in-out
		
		@media $xs
			border-bottom 1px solid $grey
			text-align center
			
			&:last-child
				border-bottom none
		
		&--selected
			background transparent
			color $yellow

body.admin-bar
	.select2-sorting.select2-container
		margin-top 32px
		
		@media $xs
			margin-top 46px