.SeriesBlock
  position relative
  width 246px
  text-align center

  @media $xs
    width 152px
    overflow hidden

  &_label,
  &_title
    position relative
    z-index 1

  &_label
    margin-bottom 21px

    @media $xxs
      margin-bottom 16px
  
  &_title
    // display inline-block
    display block
    width 144px
    margin-right auto
    margin-left auto
    font-family $robotoSlab
    font-size 23px
    line-height 1.3913
    text-align center

    @media $xxs
      line-height 1.21739
  
  &_description
    position absolute
    z-index 1
    right 10px
    bottom 10px
    left 10px
    padding 11px 20px 10px
    background $lightBeige
    border-radius 0 0 4px 4px
    font-size 16px
    line-height 1.625
    letter-spacing 0.005em

    @media $xxs
      right 0
      bottom 0
      left 0
      padding 10px
      line-height 1.375
  
  &_imgWrapper
    margin-top -101px

    @media $xxs
      margin-top -75px
  
  &_img
    position relative
    display block
    border-radius 4px

    @media $xxs
      right 14px
      bottom 14px
      max-width none
      max-height 310px