.SeriesSection
  padding 103px 0 105px
  background $grey

  @media $smMinus
    padding 70px 0

  @media $xs
    padding 40px 0
  
  &_title
    margin-bottom 25px

    @media $smPlus
      margin-bottom 63px

    @media $mdPlus
      margin-bottom 103px
    
    &-smallWidth
      width 900px
      max-width 100%
      margin-right auto
      margin-left auto

  &_items
    display grid
    grid-template-columns repeat(auto-fit, minmax(246px, 1fr))
    justify-items center
    gap 46px

    @media $smMinus
      gap 30px

    @media $xs
      grid-template-columns repeat(auto-fit, minmax(152px, 1fr))
      gap 20px

    @media $xxs
      grid-template-columns repeat(2, auto)
      gap 21px
  
  &_buttons
    list-style none
    display grid
    grid-auto-flow column
    justify-content center
    column-gap 22px
    margin-top 60px

    @media $xs
      grid-auto-flow row
      justify-content stretch
      row-gap 10px
      margin-top 27px
  
  &_btn
    @media $xs
      width 100%
  
  &-gradientBg
    background linear-gradient(180deg, #ECE2D6 0%, $grey 100%)
  
  &-lightBeige
    background $lightBeige

  &-accessories
    .SeriesSection_buttons
      @media $xs
        margin-top 23px
  
  &-smallPTDesktop
    @media $mdPlus
      padding-top 80px
      padding-bottom 103px
  
  &-largePaddingTop
    padding-top 234px