.SeriesSection
  padding 103px 0
  background $grey

  &_items
    display grid
    grid-template-columns repeat(4, 1fr)
    column-gap 46px
  
  &_buttons
    list-style none
    display grid
    grid-auto-flow column
    justify-content center
    column-gap 22px
    margin-top 60px