.SeriesBlock
  display block
  position relative
  width 152px
  text-align center
  color $dark
  text-decoration none

  @media $smPlus
    width 246px

  &_label,
  &_title
    position relative
    z-index 1

  &_label
    margin-bottom 16px

    @media $xxsPlus
      margin-bottom 21px
  
  &_title
    display block
    width 144px
    margin-right auto
    margin-left auto
    font-family $robotoSlab
    font-size 23px
    line-height 1.21739
    text-align center

    @media $xxsPlus
      line-height 1.3913
  
  &_textWrapper
    position absolute
    z-index 1
    right 0
    bottom 0
    left 0
    padding 10px
    background $lightBeige
    border-radius 0 0 4px 4px
    font-size 16px
    line-height 1.375
    letter-spacing 0.005em

    @media $xxsPlus
      right 10px
      bottom 10px
      left 10px
      padding 11px 20px 10px
      line-height 1.625
    
    &-greyBgMob
      @media $xs
        background $grey
  
  &_price
    font-weight 900
    font-family $robotoSlab
    font-size 16px
    line-height 19px

    @media $smPlus
      font-size 18px
      line-height 22px
  
  &_btn
    width 100%
  
  &_imgWrapper
    margin-top -75px
    overflow hidden

    @media $xxsPlus
      margin-top -101px
  
  &_img
    position relative
    display block
    border-radius 4px

    @media $xxs
      // right 14px
      right 0
      bottom 14px
      // max-width none
      max-height 310px
  
  &_link
    position absolute
    z-index 10
    top 0
    left 0
    width 100%
    height 100%
  
  &-extended
    @media $xs
      width 200px

    .SeriesBlock_label
      margin-bottom 20px
    
    .SeriesBlock_textWrapper
      z-index 11
      text-align left
      
      @media $lgMinus
        position relative
        right 0
        left 0
        padding 20px 18px 20px 20px
      
      @media $lgPlus
        bottom -3px
        padding 10px
        transform translateY(50%)
    
    .SeriesBlock_description
      margin-bottom 10px

      @media $lgPlus
        margin-bottom 18px

    .SeriesBlock_imgWrapper
      @media $xs
        max-height 290px
    
    .SeriesBlock_price
      margin-bottom 20px

      @media $lgPlus
        margin-bottom 17px

    .SeriesBlock_img
      @media $xxs
        max-height 400px
  
  &-slide
    display grid
    grid-template-columns 100%
    grid-template-rows auto auto auto 1fr
    height 100%
    
    .SeriesBlock_textWrapper
      display grid
      grid-template-columns 100%
      grid-template-rows 1fr auto auto