.Sidebar
  padding 38px 45px 38px 32px
  background $lightBeige
  
  &_inner
    position sticky
    top 30px

  &_filter
    margin-top 12px

    @media $lgPlus
      width 200px
      margin-top 60px
      margin-left auto
    
    &-extended
      @media $lgPlus
        margin-top 22px
  
  &-product
    @media $mdPlus
      padding 0
  
  &-cartPage
    .Sidebar_inner
      top 56px
  
  &-extendedFilter
    .Sidebar_inner
      top 60px

body.admin-bar
  .Sidebar    
    &-cartPage
      .Sidebar_inner
        top 86px
    
    &-extendedFilter
      .Sidebar_inner
        top 92px