.Sidebar
  padding 38px 45px 38px 32px
  background $lightBeige

  &_filter
    margin-top 12px

    @media $lgPlus
      width 200px
      margin-top 60px
      margin-left auto
    
    &-extended
      @media $lgPlus
        margin-top 22px
  
  &_productOptions
    position sticky
    top 10px
  
  &-product
    @media $mdPlus
      padding 36px 68px 38px 32px