.SocIcon
  display inline-grid
  justify-content center
  align-items center
  width 40px
  height 40px
  background $white
  border-radius 50%
  color $dark
  @extend .transition

  &:hover
    background $yellow