.SocIcons
  &_list
    display grid
    grid-template-columns repeat(3, auto)
    justify-content start
    align-items center
    column-gap 15px
    list-style none

    @media $xs
      justify-content center
      column-gap 45px