.Sorting
  display grid
  grid-template-columns repeat(2, auto)
  align-items center
  gap 12px

  &_label
    font-size 14px
    line-height 22px

  .select2-container
    .select2-selection--single
      height 33px

  .select2-container--default .select2-selection--single
    border 2px solid #F3B25D
    background rgba(255, 251, 246, 0.45)
    
    .select2-selection__rendered
      font-size 14px
      line-height 33px
      font-weight bold

    .select2-selection__arrow
      top 4px
      right 8px