.Specification
  display grid
  grid-template-columns 104px 1fr
  grid-template-rows auto 1fr
  gap 16px 29px
  align-items start
  
  @media $xs
    grid-template-columns 88px 1fr
    gap 16px 8px
  
  &_iconWrapper
    grid-row 1 / 3
    text-align center

  &_title
    font-weight bold
    font-size 23px
    line-height 32px
    font-family $robotoSlab
    
    @media $xs
      grid-row 1 / 3
      align-self end
      font-size 16px
      line-height 20px

  &_text
    grid-column 2 / 3
    font-size 18px
    line-height 32px
    letter-spacing -0.005em
    
    @media $xs
      grid-area 3 / 1 / 4 / 3
      font-size 14px
      line-height 20px
  
  &-extended
    @media $xs
      .Specification_title
        grid-row 1 / 2
        align-self start
      
      .Specification_text
        grid-area 2 / 2 / 3 / 3
      
      .Specification_characteristics
        grid-template-columns 1fr 1fr
        grid-area 3 / 1 / 4 / 3
        gap 0
        
    @media $smPlus
      grid-template-columns 104px 1fr 116px
  
  &_characteristics
    display grid
    gap 4px
    grid-row 1 / 3
    grid-column 3 / 4
    list-style none
    font-weight bold
    font-size 14px
    line-height 22px