.SpecificationsGroup
  &_title
    margin-bottom 39px
    font-weight bold
    font-size 28px
    line-height 32px
    font-family $robotoSlab
  
  &_items
    display grid
    grid-template-columns 100%
    gap 39px