.Specifications
  &_title
    margin-bottom 42px
  
  &_groups
    display grid
    grid-template-columns 100%
    gap 60px
    
    &:not(:last-child)
      margin-bottom 120px
  
  &_characteristics:not(:last-child)
    margin-bottom 60px