.Specifications
  &_title
    margin-bottom 42px
  
  &_groups
    display grid
    grid-template-columns 100%
    gap 60px
    
    &:not(:last-child)
      margin-bottom 61px
      padding-bottom 55px
      border-bottom 2px solid #F4EDE4
  
  &_characteristics:not(:last-child)
    margin-bottom 60px