.SwiperControls
  display grid
  grid-template-columns repeat(2, auto)
  justify-content space-between
  align-items center

  @media $xs
    grid-template-columns 100%
    justify-items center
  
  &_pagination
    @media $xs
      margin-bottom 45px