.Tabs
  &_content
    display none

    &-active
      display block
    
  &_seriesImgWrapper
    padding 40px 20px 32px
    text-align center
  
  &_specifications
    margin-top 37px
  
  &_posts
    margin-bottom 48px
  
  &_paymentSystems
    margin-top 36px
    margin-bottom 23px
  
  &_accessoryTiles
    margin-top 36px
    margin-bottom 60px
  
  &-defaultStyle
    .Tabs_list
      list-style none
      display grid
      grid-template-columns repeat(auto-fit, minmax(120px, 1fr))
      column-gap 4px
    
    .Tabs_item
      padding 12px 28px
      background rgba($lightBeige, 0.45)
      border-radius 4px 4px 0 0
      font-weight bold
      font-size 14px
      line-height 20px
      font-family $robotoSlab
      letter-spacing 0.06em
      text-align center
      text-transform uppercase
      cursor pointer
      @extend .transition

      &:hover,
      &-active
        background $lightBeige
    
    .Tabs_content
      padding 24px 49px
      background $lightBeige

  &-expandableTables
    .Tabs_list
      list-style none
      display grid
      grid-template-columns repeat(auto-fit, minmax(70px, 1fr))
    
    .Tabs_item
      padding 11px 10px
      border-bottom 1px solid $grey
      background rgba($grey, 0.15)
      font-weight bold
      font-size 14px
      line-height 20px
      font-family $robotoSlab
      letter-spacing 0.06em
      text-align center
      text-transform uppercase
      cursor pointer
      @extend .transition
      
      &:not(:last-child)
        border-right 1px solid $grey
      
      &:first-child
        border-radius 4px 0 0 0
      
      &:last-child
        border-radius 0 4px 0 0

      &:hover,
      &-active
        background $yellow
        color $lightBeige
      
      &-active
        box-shadow 1px 0 0 rgba(0, 0, 0, 0.03)