.TagLinks
  &_list
    list-style none
    display flex
    flex-wrap wrap
    align-items center
  
  &_item:not(:last-child)
    display inline-flex
    align-items center

    &::after
      content ''
      width 4px
      height 4px
      margin-right 4px
      margin-left 4px
      background $yellow
      border-radius 50%