.TextSection
  padding 80px 0
  background $grey

  @media $xs
    padding 42px 0 40px

  &_wrapper
    display grid
    gap 24px 50px
    
    @media $smPlus
      grid-template-columns repeat(2, 1fr)
  
  &_text
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em

    @media $smPlus
      margin-bottom 15px

    & > p
      margin-bottom 12px

      &:last-child
        margin-bottom 0
  
  &_btn
    @media $xxs
      width 100%
    
    @media $xxsPlus
      justify-self start
  
  &_imgWrapper
    display grid
    align-items center

    @media $smPlus
      grid-row span 3
      margin-top -30px
    
    @media $xxs
      max-height 87vw
      overflow hidden
  
  &_img
    display block
    border-radius 4px

    @media $xxs
      position relative
      right 10%
      bottom 12%
      max-width 106.2vw