.TextSection
  padding 60px 0 80px
  background $grey

  @media $xs
    padding 42px 0 40px

  &_wrapper
    display grid
    grid-template-columns repeat(2, 1fr)
    align-items center
    column-gap 50px

    @media $smMinus
      column-gap 30px
    
    @media $xs
      grid-template-columns 100%
  
  &_left
    padding-top 20px

    @media $xs
      grid-row 2
      padding-top 0
  
  &_title
    margin-bottom 24px
  
  &_text
    margin-bottom 40px
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em

    @media $xs
      margin-bottom 25px

    & > p
      margin-bottom 12px

      &:last-child
        margin-bottom 0
  
  &_btn
    @media $xxs
      width 100%
  
  &_right
    @media $xs
      margin-bottom 24px
  
  &_imgWrapper
    display grid
    justify-content end
    margin-top -13px

    @media $xs
      margin-top 0
    
    @media $xxs
      max-height 87vw
      overflow hidden
  
  &_img
    display block
    border-radius 4px

    @media $xxs
      position relative
      bottom 12%
      left 8.7%
      max-width 106.2vw