.TextAndQuote
  background $lightBeige

  &_wrapper
    display grid
    grid-template-columns repeat(2, calc(50% - 15px))
    align-items center
    column-gap 30px

    @media $xs
      grid-template-columns 100%
      padding 40px 0
  
  &_left
    padding 80px 0

    @media $smMinus
      padding 60px 0

    @media $xs
      grid-row 2
      padding 26px 0 0
  
  &_title
    margin-bottom 24px
  
  &_text
    padding-right 10px
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em

    @media $xs
      padding-right 0

    & > p
      margin-bottom 12px

      &:last-child
        margin-bottom 0
  
  &_quoteBlock
    margin-top 60px
    margin-bottom -60px

    @media $xs
      margin-top 0
      margin-bottom 0