.TextBlocks
  padding 40px 0
  background $grey

  @media $smPlus
    padding 140px 0 80px

  &_title,
  &_description
    max-width 100%
    margin-right auto
    margin-left auto
  
  &_title
    width 900px
    margin-bottom 25px

    @media $smPlus
      margin-bottom 20px
  
  &_description
    margin-bottom 51px
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em

    @media $smPlus
      width 540px
      margin-bottom 60px
      text-align center
  
  &_items
    display grid
    row-gap 24px

    @media $smPlus
      row-gap 60px
  
  &_item
    @media $xs
      position relative
      padding-bottom 27px
      
      &::after
        content ''
        position absolute
        right 0
        bottom 0
        left 0
        height 2px
        background $lightBeige

      &:last-child
        padding-bottom 0

        &::after
          display none
  
  &-lightBeigeBg
    background $lightBeige
  
  &-guitarsPage
    @media $smPlus
      padding 60px 0

    @media $mdPlus
      padding 80px 0
  
  &-seriesPage
    padding-bottom 132px
    
    @media $smPlus
      // padding 79px 0 80px
      padding 79px 0 174px

    .TextBlocks_title
      margin-bottom 52px

      @media $smPlus
        margin-bottom 72px
    
    .TextBlocks_items
      row-gap 38px

      @media $smPlus
        row-gap 50px