.TextAndImage
  background $yellow

  &_wrapper
    display grid
    grid-template-columns 1fr 640px
    column-gap 50px
  
  &_left
    display grid
    justify-content end
    // padding 20px 0
    padding 102px 0 0
  
  &_textWrapper
    width 514px
    max-width 100%
  
  &_title
    margin-bottom 35px
  
  &_imgWrapper
    display grid
    justify-content end
  
  &_img
    display block