.TextBlocks
  padding 140px 0 80px
  background $grey

  &_title,
  &_description
    max-width 100%
    margin-right auto
    margin-left auto
    text-align center
  
  &_title
    width 900px
    margin-bottom 20px
    font-size 36px
  
  &_description
    width 540px
    margin-bottom 60px
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em
  
  &_items
    display grid
    row-gap 60px