.TotalPrice
  .Product_title,
  .Product_swiperWrapper
    display none
  
  .affirm-modal-trigger
    margin 5px 0 25px
    
  &_textWrapper
    padding 16px 20px 17px 22px
  
  &_price
    margin-bottom 20px
    font-weight bold
    font-size 36px
    line-height 48px
    font-family $robotoSlab
    text-align center
  
  &_textAndBtn
    display grid
    grid-template-columns 1fr auto
    align-items start
    column-gap 10px
    margin-bottom 7px
  
  &_label,
  &_text
    font-size 14px
  
  &_label
    font-weight bold
    line-height 16px
  
  &_text
    line-height 22px
  
  &_affirmLogo
    margin-left 5px
  
  &_prequalifyBtn
    grid-row 1 / 3
    grid-column 2 / 3
  
  &_buttons
    display grid
    grid-template-columns 100%
    gap 8px
    padding 25px
    border-top 1px solid $grey
  
  &-productOptions
    .TotalPrice_textWrapper
      padding 0
    
    .TotalPrice_price
      margin-bottom 0
      text-align left
    
    .TotalPrice_textAndBtn
      grid-template-columns auto
      margin-bottom 28px
    
    .TotalPrice_text
      margin-bottom 4px
    
    .TotalPrice_prequalifyBtn
      grid-row auto
      grid-column auto
      justify-self start
    
    .TotalPrice_buttons
      gap 12px
      padding 31px 5px 31px 0
      border-top 2px dashed $grey2