$text-color = #555
$lightBeige = #FFFBF6
$beige = #EEE2CE
$brown = #992B13
$dark = #13141A
$dark2 = #1C1D21
$white = #fff
$grey = #F4EDE4
$yellow = #FEBD70

$baseFont = 'PT Sans', sans-serif
$robotoSlab = 'Roboto Slab', sans-serif
$sourceSansPro = 'Source Sans Pro', sans-serif

// Media queries
$xxs = '(max-width: 575px)'
$xxsPlus = '(min-width: 576px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$mdPlus = '(min-width: 1024px)'
$lgMinus = '(max-width: 1199px)'
$lgPlus = '(min-width: 1200px)'
$md = '(min-width: 1024px) and (max-width: 1199px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1200px) and (max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'
