.VariationsBlock
  &_header
    display grid
    grid-template-columns auto auto
    justify-content space-between
    align-items center
    margin-bottom 5px
  
  &_title
    font-weight bold
    font-size 18px
    line-height 32px
  
  &_link
    color $red
    font-size 12px
    line-height 22px
    
    &:hover
      text-decoration none