$text-color = #555
$lightBeige = #FFFBF6
$brown = #992B13
$dark = #13141A
$white = #fff
$grey = #F4EDE4
$yellow = #FEBD70

$baseFont = 'PT Sans', sans-serif
$robotoSlab = 'Roboto Slab', sans-serif
$sourceSansPro = 'Source Sans Pro', sans-serif
