$text-color = #555
$lightBeige = #FFFBF6
$beige = #EEE2CE
$brown = #992B13
$dark = #13141A
$dark2 = #1C1D21
$white = #fff
$grey = #F4EDE4
$yellow = #FEBD70

$baseFont = 'PT Sans', sans-serif
$robotoSlab = 'Roboto Slab', sans-serif
$sourceSansPro = 'Source Sans Pro', sans-serif
