.VideoPlayer
  &_tiles
    margin-bottom 20px

    @media $smPlus
      margin-bottom 30px
  
  &_wrapper
    @media $mdPlus
      display grid
      grid-template-columns 1fr 298px
      gap 15px
  
  &-product
    .VideoPlayer_wrapper
      @media $mdPlus
        display block
      
      @media $lgPlus
        display grid