.VideoBlock
  &_video
    margin-bottom 22px
  
  &_title,
  &_description
    color $lightBeige
  
  &_title
    font-family $robotoSlab
    font-size 23px
    line-height 1.3913
  
  &_description
    font-size 18px
    line-height 1.78
    letter-spacing -0.005em