.VideoSection
  padding 80px 0
  background linear-gradient(285.63deg, #372D25 0%, #563D34 100%)
  overflow hidden

  @media $xs
    padding 40px 0

  &_title
    width 700px
    max-width 100%
    margin-bottom 40px
  
  &_swiperWrapper
    position relative
  
  &_swiper
    margin-bottom 48px
    overflow visible

    @media $xs
      margin-right -25px
      // margin-bottom 56px
      margin-bottom 30px
      margin-left -25px
      padding-right 25px
      padding-left 25px

    @media $sm
      margin-right -20px
      margin-left -20px
      padding-right 20px
      padding-left 20px
  
  &_prev,
  &_next
    position absolute
    z-index 1
    top 69px
    margin auto
  
  &_prev
    left -23px
    
  &_next
    right -23px
  
  &-product
    @media $smPlus
      padding-bottom 56px