@require "./includes/variables"
@require "./includes/mixins"
@require "./includes/fonts"
@require "./includes/helpers"
@require "./includes/base"
@require "./includes/SvgIco"
@require "./includes/Container"
@require "./includes/Wrapper"
@require "./includes/Main"
@require "./includes/Header"
@require "./includes/Contacts"
@require "./includes/ContactLink"
@require "./includes/CartBtn"
@require "./includes/MainMenu"
@require "./includes/Footer"
@require "./includes/SecondaryMenu"
@require "./includes/SocIcons"
@require "./includes/SocIcon"
@require "./includes/Banner"
@require "./includes/BtnYellow"
@require "./includes/BtnOutline"
@require "./includes/Intro"
@require "./includes/HighlightedText"
@require "./includes/Quote"
@require "./includes/QuoteBlock"
@require "./includes/VideoSection"
@require "./includes/VideoSwiper"
@require "./includes/VideoBlock"
@require "./includes/SwiperPagination"
@require "./includes/SwiperBtn"
@require "./includes/Product"
@require "./includes/ProductImg"
@require "./includes/ProductImgSwiper"
@require "./includes/ProductLabel"
@require "./includes/ProductTag"
@require "./includes/TransparentDarkBtn"
@require "./includes/UnderlinedText"
@require "./includes/CategoryTag"
@require "./includes/OldPrice"
@require "./includes/Price"
@require "./includes/Testimonials"
@require "./includes/Testimonial"
@require "./includes/SectionTitle"
@require "./includes/SeriesSection"
@require "./includes/SeriesBlock"
@require "./includes/TextAndQuote"
@require "./includes/TextBlocks"
@require "./includes/TextBlock"