doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- meta(name='description' content='')
    title Zager Guitar
    link(href="/img/favicon.svg", rel="icon", type="image/svg+xml")
    link(href="/css/vendor.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")
  body
    .Wrapper
      include ../includes/blocks/Header
      main.Main
        block content
      include ../includes/blocks/Footer
    script(src="/js/vendor.js", async, defer)
    script(src="/js/app.js", async, defer)
    block page_bottom
ks/Footer
