.Header
  .Header_top
    .Container.Header_topWrapper
      .Header_left
        a(href="/" title="Home page").Header_logo
          img(src="img/logo.svg", alt="Logo")
      .Header_right
        .Contacts.Header_contacts
          ul.Contacts_list
            li.Contacts_item
              a(href="tel:+4027707747").ContactLink.Contacts_link
                include ../../includes/SvgIco/phone
                .ContactLink_text 402-770-7747
            li.Contacts_item
              a(href="mailto:help@zager.com").ContactLink.Contacts_link
                include ../../includes/SvgIco/email
                .ContactLink_text help@zager.com
        a(href="/cart.html").CartBtn
          include ../../includes/SvgIco/cart
          span.CartBtn_text cart
  .Header_bottom
    .MainMenu
      ul.MainMenu_menu
        li.MainMenu_item.MainMenu_item-hasChild
          a(href="/guitars.html").MainMenu_link Guitars
          ul.MainMenu_subMenu
            li.MainMenu_subItem
              a(href="/guitars.html").MainMenu_link Guitars
            li.MainMenu_subItem
              a(href="/all_guitars.html").MainMenu_link All guitars
            li.MainMenu_subItem
              a(href="/900.html").MainMenu_link 900
            li.MainMenu_subItem
              a(href="/80.html").MainMenu_link 80
            li.MainMenu_subItem
              a(href="/50.html").MainMenu_link 50
            li.MainMenu_subItem
              a(href="/discount_vault.html").MainMenu_link Discount vault
            li.MainMenu_subItem
              a(href="/leftys.html").MainMenu_link Leftys
            li.MainMenu_subItem
              a(href="/compare.html").MainMenu_link Compare
        li.MainMenu_item
          a(href="/accessories.html").MainMenu_link Accessories
        li.MainMenu_item
          a(href="/artists.html").MainMenu_link Artists & Reviews
        li.MainMenu_item.MainMenu_item-hasChild
          a(href="/about.html").MainMenu_link About &nbsp;us
          ul.MainMenu_subMenu
            li.MainMenu_subItem
              a(href="/story.html").MainMenu_link Story
            li.MainMenu_subItem
              a(href="/foundation.html").MainMenu_link Foundation
            li.MainMenu_subItem
              a(href="/contact.html").MainMenu_link Contact
            li.MainMenu_subItem
              a(href="/guarantee.html").MainMenu_link Guarantee
            li.MainMenu_subItem
              a(href="/faq.html").MainMenu_link FAQs
        li.MainMenu_item
          a(href="/warranty.html").MainMenu_link Lifetime warranty